[2021-05-17 03:10] quaid opened #2 "Labels to change/create for this repo"
Not sure if we'll need the existing labels for issues, but I'm thinking we'll need ones that are specific to this repo. This issue is for listing the ideas for changes or new labels.

[2021-05-17 03:17] quaid opened #3 "Code of Conduct decisions"
Some items about the Code of Conduct to work through:

* Do we have the right CoC? (Using the one from the OpenInfra Foundation, as being part of OpenInfra Labs.)
* The CoC is not very prominent on the first page. It doesn't have to be front-and-center, but should it be more visible? Is the footer the best location for it, or should it be off one of the main menus? E.g. under a new Community top-l

[2021-05-17 04:35] quaid opened #4 "Create layered project description (25/50/100/250 words)"
This task is going through some further iterations on the project message, by working from a core 25-word-max sentences, then adding additional sentences for further expansion on the key message.

This serves some purposes:

* Provide a short, 25-word message for the top-half of the main web page, to be displayed with plenty of white space to make it stand out and resonate.
* Core 250 word message

[2021-05-17 11:31] goern commented on #2
hey there, any label is auto-created via https://github.com/thoth-station/thoth-application/blob/master/prow/overlays/cnv-prod/labels_operate-first.yaml either on an org-level or per-repo. Feel free to open a PR against that file.

[2021-06-04 14:41] quaid opened #6 "Short messaging—25/50/100/250 word project description."
Work to shorten the project description. Create a 25/50/100/250 word version, then use the 25 word version at the top of the website in a large font with lots of whitespace, near any calls to action.

AKA marketing messaging stack

[2021-06-04 14:43] quaid opened #7 "Improve Call to Action (CTA) for Operate First website"
No clear call to action on the front-page. Identify and provide a CTA for one or more user types.

[2021-06-04 14:44] quaid opened #8 "Operate First Glossary"
Work to get draft to "good enough" from Google Doc stage, then draft  a new glossary page for the website.

[2021-06-04 14:46] quaid opened #9 "Review Operate First website (https://www.operate-first.cloud/) and suggest ways to improve content organization"
This is a good task for everyone involved in the Marketing work to do at the start of their involvement. Having each person's un-influenced, honest experience and opinions is valuable at the start, so we are looking at the widest pool of understanding. (We don't want to pre-converge understanding, which can restrict the level and quality of ideas.)

[2021-06-04 14:47] quaid opened #10 "Engage with a website UX expert for guidance on how to keep people from being lost across the Operate First, OpenInfra Labs, and GitHub properties"
We need UX help for a number of areas, this one is about how to make the user feel they are in the same place (when they are) and have left to someplace else (when they do.)

[2021-06-04 14:49] quaid opened #11 "De-emphasize and box the calls to participate and contribute"
Consider de-emphasizing and boxing the calls to participate and contribute; it should be on the front page but otherwise it is distracting from attracting the userbase to make it front-and-center throughout the core outreach/marketing pages.

Boxing would mean to physically separate them on a page so that the using-user experience is still centered, and/or creating a separate page for recruiting,

[2021-06-04 14:51] quaid opened #12 "Identify and float at least two quickstart pointers on the front page, for the two major classes of users."
Look for what might be a quick try-it-out for each class of user, float that to the front of the project website.

This is dependent on refined user personas.

The material for the quickstart may exist in part or whole, and some of this is likely to be stitching together existing pieces with some new content, once we have the persona and learning pathway defined.

[2021-06-04 14:54] quaid opened #13 "Create and publish project governance"
No project governance visible. Having a clear and transparent governance is essential to attracting contributors beyond “a circle of friends.”

Do the work to define the governance for the project. Make it inclusive of a future of a diverse contributor base, including organizational diversity. Seek to provide equal footing for any contributor regardless of their relationship to a sponsoring organi

[2021-06-07 03:01] quaid opened #14 "News feed for new "releases" of operate-first.cloud"
Think about the various types of users you have and what “release” they care about, then find a way to turn that information into a feed, which may need human curation for news/outreach.

There is another purpose for release management, and that is to establish and advertise to users a cadence of output for things interesting to them. We use this in outreach, support, education, and so on at the c

[2021-06-07 03:03] quaid opened #15 "Establish a style guide for terminology around “release artifacts”"
Establish a style guide for terminology around “release artifacts” e.g. runbooks, Jupyter notebooks, git repos, containers, config repos, gitops reps, etc. etc.

This helps with floating up to the users' and contributors' attention what is going on, in a meaningful way.

Consistency in documentation, website copy, and marketing/outreach materials.

[2021-06-07 03:06] quaid opened #16 "Establish a style guide for proper use of terms related to user types"
Create a style guide to make sure to use the language of your user base (SRE/cloud ops/sysadmin, generic open source projects) wherever you talk about the development model, how to interact with the project, and so forth.

Content from the website and other materials can appear in front of an end user without the context you meant it to be in, or the context is not apparent to the reader. This mea

[2021-06-07 03:31] quaid opened #17 "Create one or more quickstart guides for SRE/cloud operators/sysadmins"
It should provide a concise, new-user friendly set of instructions that gets someone productive immediately.

It should point to a subset of other documentation, with a brief description for each.

It can have a listing of all other documentation, but that may require too much maintenance.

Automating this part of the document of documents would be a good thing. It may that e.g. every document car

[2021-06-07 03:33] quaid opened #18 "Create a quickstart guide for the open source developer user"
It should provide a concise, new-user friendly set of instructions that gets someone productive immediately. For this user, that means how to get their software connected into the Op1st cloud.

It should point to a subset of other documentation, with a brief description for each.

It can have a listing of all other documentation, but that may require too much maintenance.

Automating this part of

[2021-06-07 03:38] quaid opened #19 "Create/curate an Operate First Community Handbook that is for contributors to guide them and learn from"
Anything a contributor needs to know should be included in the Community Handbook, and it can be community maintained used a git-based writing workflow.

Since Op1st is in many ways a meta-community handbook, this concept needs to be considered in the context of this project, rather than creating and maintaining a manual document forever.

We may need to start manually and move to more automated,

[2021-06-07 03:40] quaid opened #20 "Bring in UX help for project website, especially new user intake flow"
Help with regards to streamlining at least some of the project websites.

Make sure the core users are able to find what they are looking for and where they are within the knowledge, whether it’s their first or thousandth visit to the site.

[2021-06-07 03:43] quaid opened #21 "Improve new open source project intake funnel"
The MOC uplift process seems to mainly start with joining a single hour long meeting that happens twice a month. As long as the operations team needs that meeting in the uplifting process, there needs to be an intake funnel for people who are interested.

(There is actually more out there a project can do in preparation, but it's not presented as step in a funnel, and for me at least the part abou

[2021-06-07 03:45] quaid opened #22 "Establish a process/tools for awareness of contribution metrics"
Create a tracking process and metrics tooling to go forward from this baseline.

For inclusion tracking, be sure to breakdown the functional contribution areas. This helps ensure that clumps of e.g. only-Red-Hatters don’t get hidden in the tracking.

Document and track the ways the project is contributor-driven. This means, do contributors have access to all aspects of the project and the ability

[2021-06-07 03:51] quaid opened #23 "Review current Code of Conduct"
In PR #244 we took on the OpenInfra Foundation's existing Code of Conduct, under the assumption that it cascaded down from OpenInfra Labs.

We need to establish if OpenInfra Labs actually expects that all projects under their umbrella are using the same OIF CoC.

If not, then we as a project need to go back and review if the OIF CoC meets our needs, as written. It is not uncommon for projects to d

[2021-06-07 03:52] quaid opened #24 "Create a project blog as the "Operate First official record""
Create a project blog as a central point for short and long forms of project communications.

[2021-06-07 03:53] quaid opened #25 "Create a lightweight style guide for blog posts, to make writing and reviewing easier."
We can borrow from existing guides within the Red Hat Office of the CTO.

[2021-06-07 03:56] quaid commented on #2
OK, I've got my brain wrapped better around all this. I'm closing this issue. I do have the ability to manually create labels now, but I now see that I can see that Thoth can put some of my cross-repo relevant labels in other repos, so that is fantastic and I'll do the auto-creation process instead.

[2021-06-07 03:56] #2 closed

[2021-06-07 03:57] quaid opened #26 "Create a social media guide/process for those writing for Twitter et al."
This should include:

* Technical step-by-step for how operate-first-twitter.
* Guidelines on writing copy for a tweet.
* Guidelines on hashtags.
* Steps of what to do to promote the tweet to other friendly accounts, so they can amplify (retweet) the message.

[2021-06-07 03:58] quaid opened #27 "Create a meetup calendar for attracting SRE/cloud ops/sysadmin users."
We can invite SREs from Red Hat to create the first six months of calendar.

[2021-06-07 04:01] quaid opened #28 "Common slidedeck presentation anyone can use for talks about Operate First"
Goal is to make it easier for project members to give talks of any kind about Operate First. These slides and demos can be pulled up on a laptop to show someone, or presented in a keynote at a conference.

This can be one set of "about the project" slides, which can be married to a set of "technical how-to" slides for that kind of audience. Finally, there can be a growing set of "presentation demo

[2021-06-07 04:07] quaid opened #29 "Write an explanatory "License thoughts" document"
The idea for this document is to be a set of thoughts about the project's licensing. This is intended to establish some ground to quell concerns about projects bringing non-GPL licensed code to in, on, or around operate-first.cloud.

Questions that have or will come up:

* How does this apply to projects that are connected via an Operator?
* How does Operate First interact with permissively licens

[2021-06-08 18:34] oindrillac opened #30 "Create an overview of content on the Drive"
Index and create an overview of the existing content on the Drive

[2021-06-08 18:38] oindrillac opened #31 "Create a small change on the operate first website"
Based on the initial analysis and thoughts/feedback on the operate first website from #9, make atleast one small change on the website by adding a pull request to the https://github.com/operate-first/operate-first.github.io repo

[2021-06-08 19:15] margarethaley opened #32 "Community Audit Report Video"
Watch the video recording where Karsten presented the community audit report. Log feedback/reactions as a comment into issue #9.

[2021-06-08 19:46] oindrillac commented on #32
👏 🥳  on creating your first issue @margarethaley!

[2021-06-08 20:04] margarethaley commented on #9
# Thoughts / Initial Reactions to Operate First Site
I split this up by section, with notes on my reactions when reading that part of the website. I did not have something thoughtful to provide on every single sentence (particularly some of the more technical parts I'm unfamiliar with), so I tried to organize this so it's clear what part of the website I am referring to. Please let me know if anyt

[2021-06-10 15:10] #31 closed

[2021-06-10 16:22] quaid opened #33 "SRECon: submit CFP responses by 30 June 11:59 UTC"
We need deep technical and at least one broad "what is Operate First" presentation submitted.

https://www.usenix.org/conference/srecon21/call-for-participation

Important Dates

* Proposals due: Wednesday, June 30, 2021, 11:59 pm UTC
  * Notification to presenters: Wednesday, August 4, 2021
  * Confirmation of acceptances and deadline for program materials: Tuesday, August 10, 2021
  * Pre-record

[2021-06-10 16:24] quaid opened #34 "SRECon: organize presence"
This is a virtual conference, and we'll need these elements for our presence:

* Branding (logo, etc.)
* PDF takeaway documents
* Links to videos on YouTube
  - One needs to be a short "what is" video
* virtual swag? "Lifetime free compute!" card?

[2021-06-10 16:29] quaid opened #35 "Finalize glossary, publish to .cloud"
Finalize our glossary, convert to markdown, and publish on operate-first.cloud

[2021-06-11 13:38] margarethaley commented on #9
# Community Audit Report Thoughts

Here are some of my reactions and comments to the recording of the Operate First audit report, which was derived from [this worksheet](https://www.theopensourceway.org/the_open_source_way-guidebook-2.0.html#_defining_healthy_communities) and [this generalized spreadsheet](https://www.theopensourceway.org/the_open_source_way-guidebook-2.0.html#_defining_healthy_co

[2021-06-17 14:03] tumido opened #36 "Declarative operate-first-like management of github orgs and repositories"
Tracking issue for declarative management for GitHub:

- [x] Migrate label management via Prow to this repo and a postsubmit job
- [x] Create org config for peribolos and manage it via Prow postsubmit job from this repo
- [ ] Enable repo creation via peribolos from template (upstream PR needed)

Related:
- https://github.com/thoth-station/thoth-application/pull/1510
- https://github.com/kubernetes

[2021-06-17 15:44] quaid opened #37 "Mockup content changes for frontpage"
Do in repo and test live.

Seed for wireframe.

[2021-06-17 15:57] quaid opened #38 "Draft new front page content"
For review process include Hugh

[2021-06-18 13:50] oindrillac commented on #30
I'm going to close this issue out since @margarethaley has created a document on the Drive with an index.
cc: @quaid

[2021-06-18 13:50] #30 closed

[2021-06-18 13:51] oindrillac commented on #32
closing this since feedback has been recorded 👍

[2021-06-18 13:51] #32 closed

[2021-06-18 13:53] oindrillac commented on #38
also look into @margarethaley's feedback from https://github.com/operate-first/community/issues/9

[2021-06-23 19:14] margarethaley opened #39 "Google Analytics review for Operate First website"
- Explore Google Analytics Dashboard; see what information can be gleaned from it
- Compose document of relevant information and observations
- Brainstorm ideas of how to improve the site based on the findings (and create a separate issues for these)

[2021-06-28 19:42] quaid opened #40 "Figure out full site information architecture"
Full site tree and information relationship

[2021-06-28 19:46] oindrillac commented on #40
just from a site tree perspective, you can get the current structure from the configs in https://github.com/operate-first/operate-first.github.io/tree/master/config, this does not include anything from an information perspective, so an information index could be helpful

[2021-06-29 12:04] tumido commented on #36
Inspiration: https://github.com/AICoE/common

[2021-06-30 14:57] #39 closed

[2021-07-01 15:34] #9 closed

[2021-07-01 15:44] quaid opened #41 "Start naming decision discussion on mailing list, Slack"
Use an open decision framework, send to mailing list, engage in conversations wherever.

[2021-07-01 15:46] quaid commented on #8
Grist for a second page

[2021-07-01 15:48] quaid opened #42 "Info arch second level design"
Creating menu structure

[2021-07-01 18:00] #33 closed

[2021-07-01 18:36] quaid commented on #38
To close this Issue, let's get a PR started that is:

* All of mockup we have been doing in Google Doc
* Some of the raw content in that mockup
* Submitted as PR to the `community` repo as new_front_page_mockup.md

[2021-07-02 19:27] #38 closed

[2021-07-17 04:10] quaid opened #49 "Document how to use `help wanted` and `good first issue` labels."
E.g. https://github.com/thoth-station/core/blob/master/community/help-wanted.md

[2021-07-17 05:37] quaid opened #50 "Stand alone "about how Operate First method helps us" video campaign"
Can start with the existing teams and those helped.

[2021-07-17 05:42] quaid opened #51 "Create the Data Scientist learning path"
This involves creating a curriculum for Data Scientists from the existing materials; identifying any gaps where there is no material for a corresponding step in the path to know what material to create; and creating a curriculum page or area for this content on the website, as per the layout for the learning path part of the website.

[2021-07-17 05:45] quaid opened #52 "Campaign promoting Data Scientist learning path"
Once there is a new front page on the website, new navigation, and there is a landing page with the curriculum, launch a social media campaign, such as:

* One video in the curriculum per tweet, with the link going to the curriculum page.
* Highlight on the front page.
* Blog post describing the course, tweet about that.

Look for corresponding rise in traffic to the target pages, and watch what t

[2021-07-18 05:53] quaid commented on #17
This is essentially the landing page when a viewer follows the SRE call to action on the front page.

The shape of this has become more clear, and might look like this:

- Intro & what you can do here
- Attend meetups, learn best practices from other SREs
- Learning Paths (tutorials, hands-on)
  - New to and interested in SRE
  - Experienced with SRE
  - Op1st community cloud specific path
  - Oth

[2021-07-18 21:41] quaid commented on #18
@durandom Who understands the process for onboarding for open source projects AND knows where all the existing documentation, SOPs, etc. are?

[2021-07-18 22:00] quaid opened #53 "Move mailing list to Mailman 3 at {lists}.operate-first.cloud"
Recommendation:  move the public mailing list to a neutral Operate First community branded URL (operate-first.cloud), migrating to Mailman 3 in the process with it's modern web forum UI.

Alternative:  move the public mailing list to a neutral openinfralabs.org URL. May not be able to do Mailman 3 migration as they are running MM 2, which is the same major version as listman.redhat.com.

Backgroun

[2021-07-18 22:02] quaid commented on #51
@durandom Who knows this material—what exists, what might be needed, etc. toward creating this web page.

[2021-07-19 03:36] oindrillac commented on #51
@quaid this is something I'm willing to support with and fill in the gaps for.

[2021-07-19 03:37] oindrillac commented on #17
cc: @4n4nd @HumairAK @tumido

[2021-07-19 17:45] MichaelClifford commented on #51
@quaid there is a fair amount of existing content we've created around data science projects. Is there a more specific scope/definition for the "data science curriculum" we are looking to provide here? That could help to guide us on identifying the existing content and potential gaps.

and thanks for volunteering @oindrillac :smiley:

[2021-07-19 18:28] quaid commented on #51
Different from SRE where people are learning principles from scratch, the Data Scientist path here I think is all about:

- Quickstart for every data science tool we host (written, video tutorial)
- Useful ways to blend tools
- Anything related to, if they have code that can be run in production, how can they gain benefits from Operate First open community cloud.
  - E.g. what workloads can they s

[2021-07-19 22:07] quaid commented on #51
/label kind/website

[2021-07-19 22:07] sesheta commented on #51
@quaid: The label(s) `/label kind/website` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor, sig

[2021-07-19 22:08] quaid commented on #51
This issue is related to https://github.com/operate-first/operate-first.github.io/issues/265

[2021-07-20 05:02] quaid commented on #40
We took this back to work on in a Google Doc, to help with the rapid review/approval process. Here is the read-only publish of that doc:

https://docs.google.com/document/d/e/2PACX-1vSTR7gBEMnfWMSNVg8AqcCnxfLtpYqCgelpB1KzYnifrq7HIDSIl89OEPpLOn_YSF87Y7hquzy0AOY1/pub

Attached here is a the latest diagram from discussions today.

![website-information-achitecture](https://user-images.githubuserconte

[2021-07-20 05:13] quaid commented on #53
This is an active project to maintain Mailman 3 container images:

https://github.com/maxking/docker-mailman

Some how-to instructions:  https://asynchronous.in/docker-mailman/

[2021-07-20 14:41] quaid opened #54 "Make Code of Conduct more visible"
This is a crucial part of how new people see the project, one of the first things many groups and people look for first is a Code of Conduct. Ours is present but very, very had to find in the footer.

[2021-07-28 17:31] quaid opened #55 "Logo design work"
Let's review the logo design with a few things in mind:

* Does it work for all the formats we need? Printed on a hat, as a favicon, etc.
* Does it convey what we intend? I.e., does it convey meaning in the design as needed?
* Do we have editable source for the logo?
* Is the logo under an appropriate license?

[2021-07-28 19:37] quaid opened #56 "Swag for events (stickers, ...)"
With a logo we can use (issue #55), we can get a sticker design (for sure) and look at some other things.

T-shirts are _not_ recommended as standard even giveaway. They are a big logistics hassle and difficult to manage at the event for giving away.

We can do as handout/card with information and link/QR code.

Maybe we can think of something clever, like an Operate First pen (or some joke easier

[2021-07-30 02:08] quaid opened #57 "Discuss and decide community governance"
Need to open this discussion on the mailing list and talk it through with everyone able to participate, should they choose.

Some references:

https://www.theopensourceway.org/the_open_source_way-guidebook-2.0.html#_project_and_community_governance

https://blog.mozilla.org/wp-content/uploads/2018/05/MZOTS_OS_Archetypes_report_ext_scr.pdf

https://sustainers.github.io/governance-readiness/

https:

[2021-08-01 00:18] quaid opened #58 "Create/update/maintain an "SRE Learner" user persona"
Create with a markdown template, maintain in the community repo.

[2021-08-01 00:34] quaid opened #59 "Create/update/maintain an "Open Source Dev" user persona"
User template, store file in community/users/

[2021-08-01 00:34] quaid opened #60 "Create/update/maintain a "Data Scientist" user persona"

[2021-08-01 00:36] quaid opened #61 "Create/update/maintain a "Data Engineer" user persona"

[2021-08-01 00:36] quaid opened #62 "Create/update/maintain a "Cloud Operator Learner" user persona"

[2021-08-01 00:37] quaid opened #63 "Create/update/maintain a "Sysadmin Learner" user persona"

[2021-08-01 00:48] quaid opened #64 "Bring proof of concept of a "certified open source service" to Operate First community cloud"
This issue is for bringing multiple ongoing discussions into one location to work things out.  Until there is another repo to center discussions around, we can use this issue as the canonical and central tracker. Tagging in @emmanuelbernard, who can bring in other participants.

This is proof of concept involves bringing a managed Kafka service to run on the community cloud that fulfills the "Open

[2021-08-01 00:54] quaid opened #65 "Define and expose how contribution happens/will happen around the most sensitive/private parts of the project."
This ultimately answers questions of how far can access be granted to non-employees of whoever owns/maintains the bare metal.

[2021-08-01 00:56] quaid opened #66 "Create recruiting plan for attracting open source projects"

[2021-08-01 01:01] quaid opened #67 "Audit barriers to contribution"
The general rule is to keep barriers to contribution as low as possible in the context. That means, it is understood that if the context is a contribution requires root access to a server, there needs to be a high barrier to make that kind of contribution in that way.

For this issue, a general audit or survey can be conducted to determine the current barriers to contribution across the project. T

[2021-08-01 01:04] quaid commented on #22
Open questions:
- How do we know we are being successful attracting users?
- What ado we want our contributor base to look like?
- What are the range of first-order metrics we could be collecting?

[2021-08-01 01:22] quaid opened #68 "All Things Open presentation plan"
Do we want to plan for this to be live? Joint live/remote-live?

[2021-08-01 01:25] quaid opened #69 "Open Source Summit: plan recorded-live session"
- How do we want this to look?
  - Round table?
  - Panel with a moderator?
- What messages do we want to convey?
- Who do we want to convey those messages?

[2021-08-01 01:51] quaid commented on #53
@durandom Who should Misc (OSCI sysadmin) get in contact with on the ops side? It's probably going to be things around DNS, Let's Encrypt certs, and the like.

@mscherer What do you need for the phase 1 mailing list setup?

[2021-08-02 01:42] quaid commented on #28
Here is a list of potential audiences to keep in mind, knowing that the slides can be remixed for each context:

* Open source conferences
* Cloud-specific conferences
* Open source developers
* Anyone who is a cloud customer
* Any cloud software vendor

[2021-08-02 12:40] billburnseh commented on #69
I'd suggest we start with the 2nd and 3rd items then work out the 1st based on what we come up with. My thought is 3 areas: concept/intro, implementation and community. Naturally Me, Marcel and Karsten respecttivley. Thoughts? Also what kind of time length is acceptable?

[2021-08-02 12:53] billburnseh commented on #28
Adding Marcel. He did a deck intended to be a master deck where we could put all the slides, then we could extract what's needed for various uses. Would be a good starting point...

[2021-08-02 13:43] durandom commented on #28
It's already in the shared drive[1]. But I think you're talking about creating a public version of it?
How about just moving that one to a personal google account? I don't think it has any confidential slides...

[1] https://docs.google.com/presentation/d/12m5fF4j2Gr_Fj4Gbq7t8M_fsjYILm1PBM1EXJ_El3Uw

[2021-08-02 21:37] #26 closed

[2021-08-04 11:22] durandom commented on #53
I guess we re-use the current installation of mailman at https://osci.io/mission_and_services/ ?
If that's the case, you'd need DNS entries?

@goern knows how to create these. Maybe @operate-first/admins also know more.
In anyway, we should open an issue with concrete asks at https://github.com/operate-first/support

[2021-08-04 15:28] quaid commented on #28
Yeah, that's a great starting point. I know we can just externalize it, but for incorporating it into the community workflow, how about this:

1. Convert the slides to Markdown and ReactJS
2. Brand the slides for Operate First
3. Curate an initial 12-15 slides that tell the core story, get those up front
4. Have a divider for "additional material", with useful but not always needed slides put in t

[2021-08-04 17:32] quaid opened #71 "Form SRE SIG"

[2021-08-05 04:05] quaid commented on #53
Yes to DNS. But aiui we'll have our own uniquely IP'd VM to host the subdomain. I'm pretty sure it's all run out of https://gitlab.com/osci and so there may be additional automation we can do from Operate First GitOps.

@mscherer Can you create the issue as you know all the details?

[2021-08-05 04:30] quaid commented on #69
Agreed on starting with the message to be conveyed.

For length, I actually haven't found a definitive statement, just recommended start time. The recordings I've looked at have been an hour, with e.g. a thirty minute presentation and then Q&A. I'm not sure where the Q&A comes from, perhaps it's FAQey? Or there is an actual "watch it live" on the LF Live platform and be able to ask questions? Let'

[2021-08-06 14:12] mscherer commented on #53
To be clear, the list server would be hosted in a RH Datacenter (in a separate zone, no contact with internal lan) in Raleigh (Morrisville to be precise). We provides the VM, the update of the hypervisors, etc.

But before deploying, I need to know:
- the server name ? I guess lists.operate-first.cloud, but sometime, people want something else (and this can't be changed easily, we have to reinstal

[2021-08-06 15:30] durandom commented on #53
* `lists.operate-first.cloud` is good. if that's a canoncial name for lists.
* github is good. that'll be the primary source for the SSO too

cc @tumido @HumairAK

[2021-08-06 16:27] quaid commented on #53
Let's add Google for oauth, to increase the ease with which people join. (They can always make a stand-alone account, yes, so this is more about the appearance of being easy.)

Moderators, themes, and specific lists we can add later. I should be on the contact list for maintenance, etc. Do we have an admin email alias like @operate-first/admins ?

[2021-08-09 16:55] mscherer commented on #53
We need someone with DNS access to set lists.operate-first.cloud to 8.43.85.122
I am installing the server at the moment, but the rest is blocked on the DNS (because we use let's encrypt and ansible).

[2021-08-10 06:14] durandom commented on #53
I created an issue at https://github.com/operate-first/support/issues/348

[2021-08-10 13:09] mscherer commented on #53
For email alias, if the team do not want to bother maintaining a smtp relay, that's also something my team can do.

[2021-08-11 18:09] quaid opened #72 "Pre-event email for All Things Open"
Email to ATO attendees pre-event

Due Date:

Day Sending:

Draft:

[2021-08-11 19:17] quaid commented on #28
Yeah, that's a great starting point. I know we can just externalize it, but for incorporating it into the community workflow, how about this:

1. Convert the slides to Markdown and ReactJS
2. Brand the slides for Operate First
3. Curate an initial 12-15 slides that tell the core story, get those up front
4. Have a divider for "additional material", with useful but not always needed slides put in t

[2021-08-11 19:29] quaid opened #73 "Pre-event email for Open Source Summit"
Pre-conf content due date window: Sep 14 - Sep 17 (**Sep 15/16** preference?)

Post-conf content due date window: Wed Oct 6?

[2021-08-11 19:56] quaid opened #74 "Talk with CentOS Board about creating a CentOS Stream region in the community cloud"
https://git.centos.org/centos/board/issue/63

[2021-08-11 19:59] quaid opened #75 "Investigate Curriki for dynamic learning experiences"
https://www.curriki.org/studio/

[2021-08-12 14:00] billburnseh commented on #28
+1 on this idea.

[2021-08-12 18:52] billburnseh commented on #35
An attempt at a concise glossary for introductory use on the web is [here](https://docs.google.com/document/d/1OQ7OEvYrrEAS3jonoux84nj-HARtukNmW0aK2PLsiPM/edit?usp=sharing)

[2021-08-15 22:00] quaid commented on #53
Seems like a good idea to have the OSCI team provide smtp relay for now.

My architect guidance is, let's start with OSCI providing a fully contained solution, i.e., have your team run the SMTP relay and anything else that might come up. Even if we duplicate a service to start, we can resolve that once the service is running. Then the next phase is discussing how and when to move what to where. :)

[2021-08-15 22:14] quaid opened #76 "Manifesto review/revision for clarity and messaging"
https://openinfralabs.org/operate-first-manifesto/

Work on a v1.1 of this, with a currency check, messaging update, and copyedit.

[2021-08-15 22:19] quaid commented on #7
This one finishes with the merge of the new front page:

https://github.com/operate-first/operate-first.github.io/pull/282

[2021-08-16 12:41] mscherer commented on #53
So https://lists.operate-first.cloud/ is up. I need @quaid to create a account so I can promote the account to admin, and then we have:
- get a github secret (so the system will say "operate-first org ask you access to"...)
- get a google secret

I can help (read guide a bit) for the github one, I have done several time, but for the google one, I might be a bit less helpful. We have a osci-rh gmai

[2021-08-16 13:27] tumido commented on #53
Can we integrate this with Operate First SSO instead of custom google/github auths? You can create a Keycloak client in here:
https://github.com/operate-first/apps/tree/master/keycloak/overlays/moc/infra/clients

We're in process of migrating our existing clusters to this Keycloak so we can have a true Single SO.

[2021-08-16 13:31] tumido commented on #53
Btw, why don't we deploy the server within Operate First as a containerized application on OCP?

[2021-08-16 15:41] quaid commented on #53
I think that makes sense from a high level for sure, some questions about how that effects this rollout:

* How long might this delay rollout of the list server?
* How can we improve the UX for the SSO tool?

For the latter I mean, I presume you are referring to the login window for OCP at MOC? The UX for that is confusing for people who don't already know what is going on. Whereas the GitHub and

[2021-08-16 15:56] quaid commented on #53
I created one for 'quaid' and 'quaid@iquaid.org', I haven't received my activation email yet.

Let's look to see what effort the SSO approach would be.

I reckon we don't want to remove an auth path once we've created it, right? Or else I'd say let's go ahead with one and change later.

We also don't want to ask people to create a new account so they can SSO into our system, so we need to make sur

[2021-08-16 18:48] mscherer commented on #53
@tumido The problem is that mailman 3 is not just "1 server". Mailman 3 as we deploy requires postgres, a python server (mailman itself), a django web interface (hyperkitty in django, so httpd), memcached, its own queing system. It also requires postfix, and we deploy it with postgrey, and spamassasin.

The whole system also communicate with unix sockets and/or non HTTP TCP protocols, and at least

[2021-08-17 11:18] tumido commented on #53
Sure.. :) Let's start with the custom deployment and move towards Operate first driven one :slightly_smiling_face:

When it comes to SSO, I'm referring to the flow that happens **after** you click on "operate-first" button on this screen. Mind we don't have Operate First SSO enabled in MOC yet. So far only on Rick in EMEA.

https://console-openshift-console.apps.rick.emea.operate-first.cloud/
![im

[2021-08-17 11:21] tumido commented on #53
@quaid ^

I'd really prefer if you can integrate with Operate First SSO instead of a custom solution. It's really easy to provision a client for you and then you just OIDC your app with client id and secret you set in the `KeycloakClient` resource, your own redirect url into the app and our SSO host. That's it.

Also our users can then see the mailing list app in the applications tab on their prof

[2021-08-17 17:58] mscherer commented on #53
We can get several login solutions, that's not a problem (eg github and internal SSO and login/password and Google).

And I think having the most popular options is usually good. If you ask to external people to create a account somewhere before they can ask questions or join, you will lose a portion of future productive contributors. Just think each time you had to subscribe to yet another bug tr

[2021-08-18 05:15] quaid commented on #53
Thanks, I followed that login path as described. I'm glad to see it going back into use the more familiar GitHub account experience.

@mscherer This is a path to getting GitHub enabled within existing systems. Because Mailman 3 lets you create a stand-alone account in their system instead, we are not requiring a GitHub account to participate. We'll want to advertise that on the lists description p

[2021-08-18 12:02] durandom commented on #53
Does that mean mailman can auth against keycloak? If technically possible, I'd like to

1. subscribe without auth, unsubscribe without auth (good old mailinglist management)
2. auth against Operate First SSO (i.e. Keycloak), if you like access to web based management

This is the lowest entry for getting access to the ML and the least maintenance if it comes to auth management.

[2021-08-19 16:14] quaid commented on #53
I concur, but I don't know if Mailman can auth against keycloak.

@mscherer @tumido Can you try to set this up before the end of the week? So we can at least know if it's going to be easy or not?

[2021-08-19 16:17] durandom commented on #53
Can't we start with `1. subscribe without auth, unsubscribe without auth (good old mailinglist management)` ?
I think that's already implemented. Then that wont block the new ML launch.

[2021-08-19 16:28] quaid commented on #53
To be clear, I'm asking if we can start on making the connection and see how complex it appears to be.

If it's too complex or seems like it may take another four weeks, then I wouldn't want to wait and would proceed with just the 1. auth method for now.

My concern is this:

We are migrating subscribers from an old list to a new one, but we aren't sure they all are aware of what is going on if th

[2021-08-19 21:45] mscherer commented on #53
Mailman 3 support SAML, OAuth, OpenID. Keycloak implement Samal, Oauth and OpenID Connect, so that's 2 out of 3.

Assuming we chose SAML, the required information are listed in the doc:
https://python-social-auth.readthedocs.io/en/latest/backends/saml.html#required-dependency

So I need to generate a cert, etc, but I also need the information to fill SOCIAL_AUTH_SAML_ENABLED_IDPS

[2021-08-19 21:51] mscherer commented on #53
Ok so I think SAML is "niet". The host is EL 7 (since mailman stack is not yet packaged for EL 8), and there is no python saml packages, as far as I see. The documentation is also a lot less straightforward than github and others, and while there is nothing that can't be packaged nor fixed, it would take some time.

I will see how Fedora do, since they use freeipa as their auth backend now, not su

[2021-08-20 00:20] quaid commented on #53
Thanks for looking into it @mscherer, that's just what I needed to know.

I'll go ahead with the mass subscription and an appropriate "welcome" email.

That resolves this issue, I'll open a new one just for exploring auth options, since that is now a discrete task no longer associated with this move and migration.

I'm pretty stoked with how this collaboration went, I'm looking forward to the next

[2021-08-20 00:21] #53 closed

[2021-08-20 00:38] quaid opened #77 "Auth options for lists.operate-first.cloud"
In #53 we discussed some third-party authentication methods to help our users reduce their user-account-loud. That is, in addition to native Mailman 3 authentication, we could add types such as:

1. GitHub auth
2. Google auth
3. Op1st community SSO

The Op1st community SSO solution is preferred, if we're only going to have one in addition to the native auth.

However, having multiple reasonable op

[2021-08-20 01:42] quaid commented on #77
/assign @mscherer
/assign @tumido
/label area/community
/label kind/experience

[2021-08-20 01:42] sesheta commented on #77
@quaid: GitHub didn't allow me to assign the following users: mscherer.

Note that only [operate-first members](https://github.com/orgs/operate-first/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/con

[2021-08-20 01:42] sesheta commented on #77
@quaid: The label(s) `/label area/community
, /label kind/experience` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind

[2021-08-20 08:19] mscherer commented on #77
So it seems I got the auth stack wrong, Mailman use django-allauth, not django-socialauth. Django-allauth has keycloack:
https://django-allauth.readthedocs.io/en/latest/providers.html#keycloak

[2021-08-20 08:50] mscherer commented on #77
But we have the version 0.34, and this feature requires 0.42:
https://github.com/pennersr/django-allauth/commit/54959b664bfc93c8d37b0aaccb550b05f1c160f7

0.34 has openid, oauth and oauth2, so keycloak should work too using those. A quick read of the code show this is just a wrapper around oauth2 module, so I can either backport that code, or see how we can use oauth2.

[2021-08-25 11:35] tumido commented on #77
Operate First SSO _is_ Keycloak and uses Github social auth as IDP.

If you give me the OIDC redirect url for the Mailman, I can set it up on the keycloak side.

[2021-08-25 13:55] hemajv commented on #22
@Shreyanand and I are tracking some of these metrics in [this doc](https://docs.google.com/document/d/12JjCKzYzRBihR1cn6L0htp1yHQqZzKDEiQZCO7uz7qw/edit?usp=sharing) and we are also working on creating an initial notebook which fetched GitHub metrics from Augur to evaluate/visualize some of the metrics.

(Related issue: https://github.com/AICoE/data-driven-development/issues/4)

[2021-08-25 18:22] quaid opened #78 "Advert for LF webinar—CTA link below the fold on front page by 28 Sep for ATO email"
This email text is going out to ATO attendees on 28 Sep:

We need a call to action link on the front page by then, linking to the webinar. We'll have have the link from LF by 14 Sep. This CTA should be below the fold.

[2021-08-26 15:44] quaid opened #79 "Create workstream to study and recommend an open data sharing approach"
There have been some untethered discussions and write-ups around having an "open source licensing approach" to how we collect and share operational data.

What I'd like to do is get a workstream going to look at what we are trying to do and what models, licenses, and approaches are out there already.

My concern is that without tethering this with SMEs in areas of open source licensing and data, w

[2021-08-31 17:36] cdolfi opened #81 "Adding reviewnb to the repo"
Reviewing notebooks can be made a lot easier by having reviewnb on the repo. I would like to make more pointed review comments on #80 with this tool

[2021-09-15 16:21] hemajv commented on #22
Initial notebook exploring/visualizing some of the metrics: https://github.com/operate-first/community/blob/main/metrics/community_metrics.ipynb

[2021-09-16 11:06] quaid opened #83 "OpenTelemetry onboarding facilitation"
Connect together @sallyom with appropriate people and processes to start discussions and planning to bring OpenTelemetry to the Op1st community cloud.

Vision includes:
* The project will run latest upstream code with experimental features enabled.
* Open source devs can tap into the experimental features, e.g. OpenTelemetry Tracing enabled `etcd`, then use the API server to tie that to their own

[2021-09-16 19:45] quaid opened #84 "Look into HackMD or similar to provide shared document collaboration instead of Google Docs."
Setting aside the non-open sourceness of Google Docs, it is difficult to share content cleanly using Google Suite inside of an organization, as the goal of lowering barriers to contribution is directly at odds with organizational security and access controls. Even when those of us use our personal accounts, it's a manual copy-and-paste just to get content around.

Having an open and accessible too

[2021-09-17 10:47] quaid opened #85 "Demo JupyterBook as all-in-one course tool"
After seeing a recent demo by a BU professor, I would like us to demo similar capabilities for Op1st learning pathways. The audience for this demo is the team working on SRE training. The demo can use existing Op1st training materials for Data Science; let's pick something that fits nicely into the AIOps needs of an SRE.

If @isabelizimm is available, that would be great—we discussed this briefly

[2021-09-17 10:59] quaid opened #86 "Define an Operate First maturity model"
This may be something that is partially at the WG level in OpenInfra Labs, but I feel the Op1st community has the (still unwritten) charter to take care of stuff like this.

Basically the artifact of this exercise is a matrix of maturity levels (1-5?) against rows of elements of an Operate First environment.

This may exist in some format, or be adoptable from an SRE maturity model.

Some uses for

[2021-09-17 11:23] MichaelClifford commented on #85
@quaid Would something like this meet the needs for your demo? https://isabelizimm.github.io/ocp-ci-analysis/README.html

It's still in a [PR](https://github.com/aicoe-aiops/ocp-ci-analysis/pull/383) but should be mereged shortly.

[2021-09-17 12:48] billburnseh commented on #86
I think this does need OI Labs participation since they are out there recruiting partners to set up clouds for this. I also think the balance between being vague and too prescriptive will be hard to get right. Vague is that the cloud needs to welcome devs and have open ops they can participate in. A lot of the rest is variable (say, a vmware based cloud, using a different upstream , using non-SRE

[2021-09-17 13:00] isabelizimm commented on #85
I'd love to help show it off! I think the AI-4-CI repo linked above would work well as a deployed case, or  https://github.com/aicoe-aiops/meteor-demo, which is a minimal Jupyter Book for showing off capabilities.

[2021-09-17 14:05] hemajv opened #87 "Expose live community metrics on operate-first website"
We should expose and update live community metrics such as those defined in https://github.com/operate-first/community/blob/main/metrics/community_metrics.ipynb on the operate-first/community website

[2021-09-18 10:48] quaid opened #88 "Define an SLE-driven model for community production clouds"
We can adopt SLOs for our community production cloud, but it can't role into an SLA. The SLA model is the wrong encapsulation of the relationship between members of a community. By it's nature, an SLA is a form of contract (Agreement), and even when it's not monetary but e.g. an employment contract such that if a person fails to meet internal SLAs, the consequences are governed by their employment

[2021-09-27 21:49] quaid opened #89 "Social media for Webinar"
There is a campaign running with this tweet:

https://twitter.com/redhatopen/status/1442550059103576069

We can start be retweeting that from @operatefirst, can someone start that to happen several times a day?

Individually people can retweet.

We can pull the full paragraph we wrote for other places as a post on LinkedIn to share by us. Can talk with some people for amplification.

[2021-10-05 14:19] #36 closed

[2021-10-11 16:12] #78 closed

[2021-10-16 18:01] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-17 00:01] sesheta commented on #42
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-18 06:01] sesheta commented on #19
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-19 15:30] isabelizimm opened #90 "Create `news` page for general community happenings"
I would like to create a .md file in this repo that has links to things such as conference talks on the community, blog posts, etc. This .md would become a page under the "Community" tab on operate-fist.cloud for easy discoverability on what is happening in the community for those who are interested in viewing the latest buzz. ⚡

[2021-10-30 03:05] sesheta commented on #60
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #58
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #59
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #61
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #62
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #63
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #64
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #65
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #66
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 03:05] sesheta commented on #68
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #29
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #56
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #3
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #13
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #4
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #15
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #16
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #27
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #24
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 06:05] sesheta commented on #25
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #10
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #12
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #11
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #20
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #21
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #14
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #37
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #6
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 09:05] sesheta commented on #49
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 12:05] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 12:05] sesheta commented on #18
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-30 12:05] sesheta commented on #67
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-02 18:07] sesheta commented on #71
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-03 14:39] MichaelClifford opened #91 "New mailing list on `lists.operate-first.cloud` for DS community meetup"
I would like to add a new mailing list to the `lists.operate-first.cloud` that aims to provide updates and communication for the operate first data science community and their associated meet up. What is the best way to go about getting this new list made, and volunteering to manage it? Let me know, thanks!

[2021-11-03 14:47] MichaelClifford opened #92 "Existing Public Calendar for Events?"
I will be starting to host a monthly meetup for the opf data science community and was wondering if there is an existing public google calendar where I can add the recurring event and manage invites. If so, how do I access it and get my event added? If not, what is the best course of action to have one made? Let me know, thanks!

[2021-11-04 16:24] quaid opened #93 "Reorganize project activities into named, accountable working groups"
We have a lot of project activity going on, in fact more than any single person can be aware of even if they are in all the meetings. In fact, we also have quite a few meetings where decisions are being made without transparency. Ultimately, we need the entire community aware of what we are all doing where it could impact each other. The same awareness also creates collaboration opportunities, whe

[2021-11-05 15:01] quaid commented on #91
We need to create an issue template for this ultimately, let's start by asking/answering all the questions here that a template would solve.

1. What is the list address name? foo@
2. Short description of list
3. One- or two-sentence list description/more information
3. Display name and subject prefix, i.e., Community & [Community]
4. Archives are required to be public and subscription open, with

[2021-11-05 15:13] MichaelClifford commented on #91
data-science@

Provides updates and communication for the operate first data science community and their associated meet up

Data Science [Data Science]

Ok

Open

[2021-11-05 18:52] quaid commented on #91
Is there any reason we can't use community@lists.operate-first.cloud for these topics and discussions?

A good practice is to keep _all_ community activities on one central list until it's clear that a new list is needed. In the case of the Operate First community, we aren't using our current list yet very much. It could really use the updates, communication, and meetup information, all of which a

[2021-11-05 19:22] MichaelClifford commented on #91
@quaid If using the current community list is your recommendation that is fine with me :smile: I wasn't sure exactly what the overall purpose of that list was, and did not want to hijack it for our meet up.

I think your suggestion makes a lot of sense. We will use the "community" list as our primary communication channel for now. If down the road we feel a separate list is need/justified we can r

[2021-11-05 19:58] #91 closed

[2021-11-09 21:12] sesheta commented on #74
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-09 21:12] sesheta commented on #75
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-10 15:00] HumairAK opened #94 "Discuss and potential reorganization of video conferences"
In today's sprint planning meeting @durandom brought up the usefulness of said meeting. This issue is to serve as a discussion point. Some points that were brought up:

- Sprint planning meeting feels very "exclusive", not everyone knows about it, it's not publicly shared
- The meeting seems very broad in scope, we have various different initiatives going about (as displayed on the epics board)
-

[2021-11-10 15:12] sesheta commented on #28
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-10 17:27] suppathak commented on #94
As a newcomer, I really feel meeting "Face in the clouds" to be very valuable in discussing minor getting started/technical work related topics.

[2021-11-10 21:13] sesheta commented on #35
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-11 04:38] quaid commented on #28
/remove-lifecycle stale

[2021-11-11 14:49] dystewart commented on #94
I agree with @suppathak, I really think the "Face in the Clouds" is great for a newbie like myself to ask the more specific questions directly related to what I'm working on.

The sync/standup meeting from my perspective is beneficial for me because that is where I can report my progress/get general pointers on where to go next. I also like listening on other team members progress and hearing abou

[2021-11-11 16:10] quaid commented on #86
Let's do a first draft here, then run it by the mailing list. @stefwalter if you want to participate in the draft or if you have anyone else who might have some thoughts?

I think we need to define:

1. Categories of things that need to be included in order to be considering to be operating first at some level. These can be the rows in a matrix.
2. Levels within those categories that make sense, i

[2021-11-11 16:28] billburnseh commented on #86
A key dividing line is the cloud environment. Is it anti-SLA, where the dev's can do anything, or SLA where the devs have restrictions in.

[2021-11-12 13:14] stefwalter commented on #86
* Does the team operate the code in production before it's included into an (open source project) release?
 * Does the team operate the code in production before it's included into a Red Hat product?
 * Are contributors (non-team member) able to diagnose, change or operate the service in the same way as a typical (eg: junior) team member?

[2021-11-12 13:15] billburnseh commented on #94
My 2cents...
I think it makes sense to have something like the sprint meeting, for those that are actively engaged in running the community cloud. Things not relevant to that should be pushed to some other meeting. Never even heard of the "face in the clouds" meeting. The new project coordination meeting could certainly be wide open, but it could probably be better to be run by the Ops team direct

[2021-11-12 13:15] stefwalter commented on #86
Should we work on a mindmap for this  @quaid ?

[2021-11-12 13:36] billburnseh commented on #86
On Fri, Nov 12, 2021 at 8:14 AM Stef Walter ***@***.***>
wrote:

as close to a production environment as possible. so that operational
considerations
can be understood and taken into account.

so that their
projects are known to be suitable for use in a cloud env and all consumers
of the
project benefit. Of course, Red Hat always needs to ensure that it's
products are
enterprise quality, and opera

[2021-11-14 00:13] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-14 21:12] sesheta commented on #41
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 14:44] quaid commented on #10
/remove-lifecycle stale

[2021-11-15 16:12] HumairAK commented on #94
I think one outcome of this will be whatever video conferences we keep we'll make them more visible, post them on the site etc., this would go for the face in the clouds meeting as well, atm it's not linked anywhere however.

[2021-11-15 17:25] hpdempsey commented on #94
Sprint planning meetings are good because they are the one place where people can talk about engineering resources that are needed for medium-to-large efforts.  Because we have lots of projects we  _want_ to do, but not enough people to do them, proposing something new means having a discussion about how the new thing fits in with other priorities and timelines.  Same is true if something we thoug

[2021-11-15 17:35] hpdempsey commented on #94
Another good thing about the sprint planning meeting is that it is a place where people with less experience (co-ops, new SREs, new developers) can see how the developers and SREs on the project make tradeoffs and investigate unclear requests, difficulties in the project, and set scope for work that will go forward.  This can also happen in other meetings, but the people with less experience may h

[2021-11-15 17:39] hpdempsey commented on #94
I've never been to a Face in the Clouds meeting (and in fact never even heard of them until it came up in this issue), so it may be that that meeting is good to help newcomers with their specific questions, but that is not the same as experiencing how the team works together to make decisions and prioritize.  As @HumairAK mentioned, clearly we need to improve how we get info on all the meetings ou

[2021-11-15 18:12] sesheta commented on #52
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 18:21] billburnseh commented on #94
Yes, as Heidi said, face in the clouds was news to me as well. Would love
to know what it's about, when it is, frequency, etc...otherwise we are
flying
somewhat blind in sorting out what meetings exist, their usefulness and
such.

cheers,
 Bill

On Mon, Nov 15, 2021 at 11:13 AM Humair ***@***.***> wrote:

--
*Bill Burns (*He/Him/His)
Senior Engineering Manager, Red Hat Research
Operate First Initi

[2021-11-15 22:42] schwesig commented on #94
I agree with @dystewart sumup:

additions

in general:
- opening the meetings up is always a +1
- (re)defining them in goal/content or length/frequency maybe helps to reduce the overlap

ideas:
- alternating content on the same time spot (odd weeks vs even weeks)
- splitting the e.g. sprint planning into a general part (less technical) and a detailed one (more technical/sig focussed)

[2021-11-16 00:12] sesheta commented on #42
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-16 04:16] quaid opened #95 "SRECon 22 CFP response coordination"
This is the central issue for tracking and coordinating CFP responses from this community. Other event coordination is tracked in a separate issue.

## CFP details

SREcon22 Americas is scheduled to take place on March 14–16, 2022, in San Francisco, CA, USA. The Call for Participation is now open!

SREcon22 Americas is the first of three global events in 2022, when we will finally have the chance

[2021-11-16 22:51] quaid commented on #94
tl;dr:
- All groups having meetings should be having them in a highly accessible way, capturing a recording of audio/video if those are part of the call.
- Transcriptions should be provided, including in real-time for watchers (such as by streaming live to YouTube during the meeting.), and minutes should be recorded.
- All of this should be sent to the community@ mailing list as soon as possible a

[2021-11-17 18:32] billburnseh commented on #94
Here is the description of the bi-weekly project coordination meeting that i have been running:
_The purpose of this meeting is to provide a forum to discuss topics related to the introduction of new
projects and workloads to the original operate first community cloud (with resources at the Mass Open Cloud, Hetzner and beyond). All are welcome._
The notes page for the meeting is here, with links t

[2021-11-18 14:29] quaid commented on #85
We got the main purpose of this done with this Red Hat Research talk:  https://youtu.be/EEnk9PSIoSI

I'm going to make a new issue about doing a highlights reel from that one.

[2021-11-18 14:29] #85 closed

[2021-11-18 14:33] quaid commented on #77
@mscherer have you had a chance to look at this? Is this underlying what is blocking operate-first/apps#942 ?

[2021-11-18 19:28] mscherer commented on #77
I totally forgot, sorry. I will take a look tomorrow, but yes, that's likely what is blocking.

[2021-11-19 19:22] schwesig commented on #94
Should we create an overview of all the topics we are talking about? One Issue per Meeting with description to find the overlapping content/goals/audience. Leave the issue open as long as the meeting exits, keeping it up to date, maybe creating a "project board" for all meetings to easily check if purpose & audience still match and not overlap?

1. Topic/Title
2. Content
3. Goals/Purpose
4. Freque

[2021-11-19 19:45] schwesig opened #96 "{Meeting} Project Coordination Meeting"
_First Idea/Draw how to make meetings visible_

### Topic/Title
Project Coordination Meeting

### Content
... link to notes/agenda/protocol/recordings

### Goals/Purpose
The purpose of this meeting is to provide a forum to discuss topics related to the introduction of new
projects and workloads to the original operate first community cloud (with resources at the Mass Open Cloud, Hetzner and beyond

[2021-11-19 20:54] billburnseh commented on #96
That is about right. Typically less than 60 minutes though. While it was intended to introduce folks bringing new projects, that has gotten rare, esp where the web content tells them how to directly connect to the Ops team. Most of the meeting tends to be status updates and such.  I would recommend scrapping this meeting, with the Ops team handling welcoming and onboarding new projects as they see

[2021-11-23 18:42] quaid opened #97 "Add academic personas as users and stakeholders of Operate First"
Specifically:

- Academic Researcher
- Academic Administration
-

[2021-11-23 19:11] quaid commented on #97
Tagging @msdisme

[2021-11-24 18:16] sesheta commented on #79
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-25 16:28] quaid opened #98 "CFP tracker for CY2022"
This issue is a tracker issue for all call for paper ( CFP ) for events occurring in the calendar year 2022. A tracker issue blocks space is blocked by each individual issue that's opened for the CFP for a specific event. So this creates a dependency chain for this tracker to be closed at the end of the calendar year, or rather more likely when the CFPs for 2022 stop getting put out, usually by Au

[2021-11-25 16:31] quaid opened #99 "Create new labels"
We need a few new labels:
- kind/events
- ...

[2021-11-25 16:53] quaid commented on #98
Tracked #95 for SRECon 2022 (CFP now closed.)

[2021-11-25 16:54] #95 closed

[2021-11-25 17:06] quaid opened #100 "SCaLE 19x CFP responses tracker [DEADLINE 30 NOV]"
This is the tracker for all CFP responses to SCaLE.

This is not about the workshop, which is tracked in https://github.com/AICoE/content-pipeline/issues/20

[2021-11-29 18:17] sesheta commented on #81
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-29 20:35] MichaelClifford commented on #81
Did reviewnb ever get installed for the operate-first org?

[2021-11-30 14:13] quaid opened #101 "Red Hat Summit CFP - Main response [DEADLINE 07 DEC]"
https://www.redhat.com/en/blog/call-proposals-now-open-red-hat-summit-2021

[2021-12-01 04:43] quaid opened #102 "Register operatefirst.cloud"
And have it redirect to operate-first.cloud.

Intention is to make the site more discoverable, and to turn the speaking URL into something easier done, i.e. saying "operate first dot cloud" becomes correct regardless of the listener putting in the "-".

- [x] register domainname with Google Domains
- [ ] configure Googgle Cloud DNS Zone and a pointer to the actual webserver
- [ ] deploy webserver

[2021-12-01 14:56] goern commented on #102
As we can not deploy a second CNAME with GitHub Pages, we need to deploy a dedicated webserver to send a HTTP redirect, see https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/troubleshooting-custom-domains-and-github-pages

or does anyone have another idea?

@tumido @harshad16

[2021-12-01 20:20] quaid commented on #100
I submitted two talks, both are co-presentations with @durandom:

https://www.socallinuxexpo.org/scale/19x/presentations/liberating-open-source-cloud-operate-first-way

The second doesn't have a link, it's a submission for DevOpsDays LA: "Open sourcing SRE in the Operate First project"

[2021-12-01 20:20] #100 closed

[2021-12-01 20:24] quaid opened #103 "Website map for Dec 2021 changes"
This hasn't been written out in text before, it's all been in visual maps. I'll attach the latest of those here, then convert it to text in a comment for discussion and use.

[2021-12-01 20:26] quaid commented on #103
![website-map](https://user-images.githubusercontent.com/112760/144308601-35d58249-982d-4be8-9c6d-7c4f02989d38.png)
[website_outline.pdf](https://github.com/operate-first/community/files/7636914/website_outline.pdf)

[2021-12-02 02:22] quaid opened #104 "Naming proposal: Change project/community/cloud name to "Op1st""
To differentiate between the general concept of Operate First  as defined in OpenInfra Labs, this proposal is to adopt the handy moniker Op1st for all references to the project, the community, and the community assets and services.

- Op1st community cloud
- Op1st community
- Op1st cluster in MOC
- Are you integrating your open source project into Op1st?
- How many contributors does Op1st have?
et

[2021-12-02 15:18] sesheta commented on #51
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-07 03:08] quaid commented on #51
/remove-lifecycle stale

[2021-12-07 03:13] quaid commented on #102
If you don't have a way to spin this up, it may be the osci.io team has something they can bring over and/or add to the mix.

@mscherer I'm sure you have a process to do this, outside of the Op1st community cloud. But do you happen to have a container that does this role already that could be deployed into the community cloud?

[2021-12-07 03:14] quaid commented on #79
Ongoing work, not stale just not visible in this issue. We can look for an update to bring through.

/remove-lifecycle stale

[2021-12-07 05:49] quaid commented on #103
This is from the PDF and PNG linked above, but I ended up doing some clean-up and clarification. For the moment this is my canonical offering for discussion.

# HOME page (content)
- Short message
- CTA
- Menu
- More context about Op1st (50 words on community cloud)

# CTA Box (content box that is two menu trees)
- "I want to learn SRE practices":
  - SRE practices
  - Data science workflows
  - O

[2021-12-07 08:50] mscherer commented on #102
Yup, we have a server dedicated to that: https://gitlab.com/osci/community-cage-infra-ansible/-/blob/master/playbooks/tenants/osci/redirector.yml

We do not have a container for that. It doesn't seems hard, that's just a webserver, the biggest issue being the TLS integration (not a big deal either, but there is no standard way for that AFAIK).

As I am already late on others op1st task, I would ra

[2021-12-07 19:09] HumairAK commented on #94
Bumping so as not to let this discussion fall off.

[2021-12-07 19:38] HumairAK commented on #94
to know what it's about, when it is, frequency, etc...otherwise we are
flying somewhat blind in sorting out what meetings exist, their usefulness and
such.

There are 2 technical meetings for ops/engineers at the moment:

Regular Syncs (Every Tuesday & Thursday 8:30am-9am EST):
This is an informal standup meeting with all the ops engineers (time zone permitting). This is to give a chance to meet f

[2021-12-07 20:01] HumairAK commented on #94
Our current sprint planning meeting isn't really a sprint planning meeting, it's more of a high level overview of what we did, and what our current priorities/projects are, we loosely discuss timelines, but they're never exact. I think most of this can be incorporated into the project coordination meeting.

I think this can be covered by face in the clouds meeting, where we can help them get acqua

[2021-12-09 10:20] goern commented on #102
@mscherer please check `www.operatefirst.cloud` and `operatefirst.cloud`, from my side of the pond it looks good:

[2021-12-09 10:53] mscherer commented on #102
Seems good, the redirection is in place.

[2021-12-10 11:20] mscherer commented on #77
So I think the OIDC redirect would be:
[code]

if I am not wrong. I need the realm and the url (cause I am quite sure that "example.org" is not the right URI, and "gondor" is not the answer for "realm").

[2021-12-14 05:40] quaid commented on #77
@tumido ^^^

[2021-12-14 05:44] quaid opened #108 "Create a container for redirecting URLs"
As @mscherer [suggested](https://github.com/operate-first/community/issues/102#issuecomment-987702058), here is an issue for someone wanting to learn and help with this part of the community cloud.

The container would be a web server that responded to incoming requests to one URL and redirect to another. For example, https://operatefirst.cloud redirects to https://operate-first.cloud.

[2021-12-14 05:52] quaid commented on #102
Thanks folx, this works a charm.

I'm closing this one as complete, and opened #108 for what @mscherer suggested.

[2021-12-14 05:52] #102 closed

[2021-12-14 18:20] sesheta commented on #22
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-14 23:21] mattdm opened #109 "Allow Fedora / CentOS accounts?"
It'd be nice to get people from the Fedora community involved — after all, we've got a long history of operate-first in practice.

It would be awesome if people could authenticate using their Fedora accounts (which are shared with CentOS):

* GitHub accounts don't necessarily correspond to Fedora accounts (and there are surely cases where a GitHub account overlaps a Fedora account name of a differ

[2021-12-15 14:33] HumairAK commented on #109
Our openshift auth leverage github usernames currently as ocp user names. Would this not cause naming conflicts with existing users that share the same Fedora account names?

@4n4nd @durandom  @larsks

[2021-12-15 15:31] larsks commented on #109
@HumairAK @mattdm (hi!) It should be possible to do this, but there's absolutely going to be a question about how we identify accounts. Right now the github username == the openshift username, which obviously isn't a tenable model if we add additional, unrelated authentication sources.

We explicitly moved away from using email addresses as account identifiers for reason of privacy (@mattdm we cur

[2021-12-15 21:21] sesheta commented on #84
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-16 15:21] sesheta commented on #87
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-17 12:22] sesheta commented on #88
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-17 16:16] larsks commented on #109
It looks like KeyCloak has a mapper named "Username Template Importer" that will do what we want. The tooltip for the template says:

The substitution can be converted to upper or lower case by appending |uppercase or |lowercase to the substituted value, e.g. '${CLAIM.sub | lowercase}

[2021-12-17 18:58] larsks commented on #109
If we want usernames to look like `<name>@<provider>`, we would set the template for GitHub to `${CLAIM.login}@${ALIAS}`. I'm not sure what the IDP configuration would look like for Fedora.

@mattdm, how do we go about getting a client id and secret for FAS so that we can test things out? The [documentation](https://fedoraproject.org/wiki/Infrastructure/Authentication) suggests that we can use `oi

[2021-12-17 19:00] mattdm commented on #109
@larsks File a ticket at https://pagure.io/fedora-infrastructure/issues

Also, hi!!! :)

[2021-12-17 19:05] larsks commented on #109
I've opened https://pagure.io/fedora-infrastructure/issue/10428 requesting development OIDC credentials.

[2021-12-18 21:20] quaid commented on #104
Where I am starting from is this problem statement:

In other words, when we call anything/everything in this OpenShift and GitOps/GitHub-using community "Operate First", we are _diluting our own brand_. We are confusing the meaning of Operate First and making it harder for ourselves to have the ecosystem-wide effect.

Yet, we are doing all this hard work for the intended effect of showing and pro

[2021-12-20 19:01] billburnseh commented on #104
+1, I'd vote for Op1St since it's been used a lot already, to reflect on the example implemented to date.

[2021-12-27 00:23] sesheta commented on #89
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-29 21:22] sesheta commented on #81
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-03 06:41] schwesig commented on #104
+1 Op1st, I like Op1st in general but especially compared to O1 | also following @billburnseh explanation
-1 O1

[2022-01-11 14:12] #101 closed

[2022-01-11 14:15] quaid opened #111 "SCaLE 19x workshop planning"
https://www.socallinuxexpo.org/scale/19x

Details still needed:
- Elements in the workshop
  - UX testing
  - SRE course beta testing
  - Demoing cool things
  - Data science hands on?
  - SRE GitOps hands on?
- One day or two days?
- One room or two rooms?

[2022-01-12 17:32] durandom opened #112 "convert this repo to a JupyterBook"
* `.md` files should not be moved around, keep them organized as now
* only add some example entries to the `_toc.yaml`
* setup same publishing pipeline as for the `/apps` repo
* with a `gh-pages` publish
* bonus points for a netlify preview :)

Tasks:
- [x] add jbook configurations
- [x] add github action for automated builds
- [x] add netlify previews in prs

[2022-01-12 18:37] quaid commented on #112
Context -- @durandom answered my last concerns and convinced me how to organize the community handbook side of content in parallel to the technical ops docs. It also is clear we can use Jupyter for the contributor-oriented content.

My thinking is this:
1. Either a contributor is going to make changes to the community handbook in the GH UI,
2. Or a contributor is going to checkout the repo and mak

[2022-01-13 07:26] durandom commented on #112
@HumairAK can you also add the GH workflows, so that the book is automagically published?

https://github.com/operate-first/apps/blob/master/.github/workflows/book.yml

[2022-01-13 16:22] billburnseh commented on #96
FYI, the project coordination meeting has been suspended with the the Jan 12, 2022 meeting.

[2022-01-13 18:23] sesheta commented on #22
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-14 19:10] HumairAK commented on #112
netlify previews set up: https://github.com/operate-first/community/pull/119

[2022-01-14 19:10] #112 closed

[2022-01-14 21:23] sesheta commented on #84
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-15 15:24] sesheta commented on #87
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-16 12:24] sesheta commented on #88
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-17 20:56] sallyom opened #121 "What initial subprojects should be included in initial sig-operations charter?"
rather than clutter this PR https://github.com/operate-first/community/pull/120 with back/forth comments wrt subprojects, we can hash out our thoughts on initial subprojects here.

/cc @HumairAK

[2022-01-17 21:20] HumairAK commented on #121
I think first we should start by identifying existing work that is not covered by any sub project (which is all work atm) and ensure that it falls under _some_ sub project. Then we can iterate, and discuss potential/prospective sub-projects for future work/goals/etc.

I'm going to go ahead and tag all folks that I think spend a good chunk of their efforts in operations for operate-first community

[2022-01-17 21:36] HumairAK commented on #121
Just brain dumping work that is currently ongoing:

- Cluster onboarding (adding new clusters)
- Project onboarding (giving teams/individuals access to namespaces/services/etc. to existing clusters)
- Cluster/Service Incident resolutions
- Hardware incident resolutions (severely lacking manpower here)
- Adding/managing/upgrading operators to clusters
- Operating platform management tools (argocd,

[2022-01-17 21:50] harshad16 commented on #121
I'm not sure if these works would be considered in above list:
 -  Operating Python Index separate from public pypi (pulp instance)
 -  Operating Opendatahub instance on operate-first (jupyterhub, kafka, etc)

 please neglect if they should not be a part of this list.

[2022-01-18 13:50] durandom commented on #121
I'd say those are workloads

[2022-01-18 13:53] durandom commented on #121
* overview and discoverability of the platform and workloads

^^ this is dear to my heart, so that we know what currently exists and who is part of the platform. Maybe this is a working group though

[2022-01-18 15:24] sesheta commented on #83
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-18 17:01] rbo commented on #121
Additional to @HumairAK, my brain dump:

- Cluster design / architecture / lifecycle ( Cluster setup, storage, basic installation,  on-boarding is one part of it)
  -  A kind of overall review / discussion board.
- Capacity Managment
- Support / incident manament
- Config Managment  / Documentation of env

[2022-01-18 18:29] sallyom commented on #83
/remove-lifecycle stale

I'm planning on picking this back up

[2022-01-19 21:42] quaid opened #123 "Create single explanation of context for this Operate First prototype"
One .md file to explain how the Operate First concept is neutral on implementation details, and why we made specific choices for this prototype.

To be linked from anywhere needing an explanation for why this tech.

[2022-01-24 18:25] sesheta commented on #90
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-24 18:25] quaid commented on #64
Tagging @stefwalter for consideration of this as related to the maturity model work in #86

[2022-01-25 20:42] quaid commented on #111
SCaLE 19x has moved to 28 - 31 July 2022

[2022-01-25 20:46] quaid commented on #93
With the adoption of the governance in #105, the concerns in this issue are being addressed within the responsible charters. I'll close this issue now, but it is linked with the PR, which will be mined for Governance 1.1 work and considerations, such as this one.

[2022-01-25 20:46] #93 closed

[2022-01-25 20:48] quaid commented on #89
/close

[2022-01-25 20:48] #89 closed

[2022-01-25 20:48] sesheta commented on #89
@quaid: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/89#issuecomment-1021594602):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-01-25 20:48] quaid commented on #90
/remove-lifecycle stale

[2022-01-28 11:52] stefwalter commented on #86
I opened this pull request to represent the minimum bar for Open Source Services.

https://github.com/operate-first/community/pull/127

I believe the minimum bar is defined by: The absolute minimum Open Source behavior that a service must achieve so that contributors are enabled to progress it further along the Operate First methodology.

[2022-01-31 20:43] quaid opened #129 "Create sig-docs"
First actions for the SIG:

- subprojects to organize existing docs and do gap analysis along at least two vectors:
  - technical subject completeness
  - ramp from new to experienced
- then an effort to populate the community handbook with a complete help for using GitHub and other tools

[2022-02-01 18:27] sesheta commented on #92
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-02 16:07] HumairAK commented on #92
/remove-lifecycle stale

@quaid can you add @MichaelClifford to the public calendar (maybe we ought to add docs for whom/how/what one needs to do to get access or request events be added to the public calendar)

[2022-02-07 21:53] quaid opened #131 "Contrib_X Docs WG for user/contrib onboarding experience [OS-C]"
Working on this with @cdeliarh in support of bringing OS-Climate community members in to be users/contributors to the Op1st prototype community cloud.

This working group presupposes the existence of SIG-Docs, which is (going to be) in charge of documentation for users and contributors to the platform/project. Other working group members should be SIG-Community and SIG-Ops, the latter especially f

[2022-02-08 01:35] quaid commented on #131
Tagging in @stefwrite & @coghlanRH.

This all has mirrors in the training materials needs. Let's include you all in the gap analysis work, as part of the working group, so we can clear this towards usable tables of contents as soon as possible.

[2022-02-08 05:32] quaid commented on #131
These are the back-of-the-napkin sketches I updated from today's discussion with @cdeliaRH

![UX-Contrib_X-WG-circular-diagram - page 1](https://user-images.githubusercontent.com/112760/152919734-a6fe944d-293b-4d72-a984-fcabb6a321a4.png)
![UX-Contrib_X-WG-layer-cake-diagram - page 1](https://user-images.githubusercontent.com/112760/152919736-d71e77b5-c96c-4173-802d-57b3c8910472.png)

[2022-02-08 14:14] stefwrite commented on #131
I'm happy to help with identifying where current training plans are
overlapping with docs. Training isn't a substitute for docs, it should be a
supplement that helps people get started on a path in which docs is an
ongoing reference. Thus, concentrating on getting documentation built out
(regardless of training) is the important first step here. What we *can*
do, though, is make sure there isn't a

[2022-02-09 06:27] sesheta commented on #28
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-13 15:28] sesheta commented on #10
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #40
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #41
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #42
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #54
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #49
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #56
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #57
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 00:28] sesheta commented on #55
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #58
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #61
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #59
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #60
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #62
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #63
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #65
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #68
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #66
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 03:28] sesheta commented on #67
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #74
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #6
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #75
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #3
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #4
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #11
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #13
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #8
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 06:28] sesheta commented on #12
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #15
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #16
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #14
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #21
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #18
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #19
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #20
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #23
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 09:28] sesheta commented on #27
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 12:28] sesheta commented on #24
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 12:28] sesheta commented on #25
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 12:28] sesheta commented on #29
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 12:28] sesheta commented on #35
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-15 12:28] sesheta commented on #37
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-17 16:41] quaid opened #134 "Form the Website Updates (Spring 2022) WG"
Cross-functional WG to work through all the open issues, ideas, and discussions for making changes _right now_ to the website.

Goals:

- Improve messaging discovery
- Improve user experience
- Solve Community Handbook knot
- Create nucleus for future SIG Website

[2022-02-17 21:08] quaid commented on #131
Initial volunteers to participate in this WG: @durandom @quaid @stefwrite @bryanmontalvan

Stakeholders for website changes, who need a representative participating as (at minimum) a reviewer:
- (SIG) Data Science
- (SIG) Training: @stefwrite
- SIG Ops
- SIG Community: @quaid

Actions:
- [ ] Announce WG on mailing list, in Slack; invite participation
- [ ] Set a meeting time conducive to initial p

[2022-02-21 22:07] sesheta commented on #97
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 22:31] larsks commented on #109
This was closed upstream without resolution. We can pursue this in the future if people are feeling motivated.

[2022-02-22 22:31] #109 closed

[2022-02-23 06:40] schwesig opened #136 "Operate First SIG-Community - student involvement"
Heidi updated the Research Team on the progress with the Operate First SIG-Community.  She also mentioned opportunities/a need to engage students.  This felt potentially like something we could make Boston University students aware of via the Collaboratory.

The Collaboratory Core Planning Team meets once a week or so.  Would one of you like to join an upcoming meeting for 15 minutes to discuss op

[2022-02-23 06:40] schwesig commented on #136
/assign @schwesig
/assign @quaid

[2022-02-24 16:07] sesheta commented on #98
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-24 16:07] sesheta commented on #99
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-24 18:33] quaid commented on #131
Link to https://www.redhat.com/en/about/our-community-contributions and https://www.redhat.com/en/about/open-source

[2022-02-24 20:31] rbo opened #140 "Sig Operations Mailinglist link is broken"
https://github.com/operate-first/community/tree/main/sig-operations#contact - Mailinglist link is broken

[2022-02-24 20:31] rbo commented on #140
/cc @HumairAK

[2022-02-25 16:16] schwesig opened #141 "[SIG Community] Overview SIG/SP/WG"
Feb 24, 2022 | [[Op1st] SIG Community weekly call](https://www.google.com/calendar/event?eid=NTg0czUwdHVwNnZuMGg0ZG5vOTVoZGJxM21fMjAyMjAyMjRUMTgwMDAwWiB0c2Nod2VzaUByZWRoYXQuY29t)

Create an overview of the current started, installed and planned groups and projects and their structure.

[2022-02-25 16:16] schwesig commented on #141
/assign @schwesig

[2022-02-25 16:18] schwesig commented on #141
/kind documentation
/priority important-soon

[2022-02-25 16:23] schwesig commented on #141
should not be a one time thing, maybe create a .yaml file, automated process, ... at some point in time?

[2022-02-25 16:24] schwesig opened #142 "[SIG Community] List volunteers/members per SIG/SP/WG"
Feb 24, 2022 | [[Op1st] SIG Community weekly call](https://www.google.com/calendar/event?eid=NTg0czUwdHVwNnZuMGg0ZG5vOTVoZGJxM21fMjAyMjAyMjRUMTgwMDAwWiB0c2Nod2VzaUByZWRoYXQuY29t)

Create a list of all member/volunteers/... for each team/group.

[2022-02-25 16:24] schwesig commented on #142
/assign @schwesig
/kind documentation
/priority important-soon

[2022-02-25 16:25] schwesig commented on #142
should not be a one time thing, maybe create a .yaml file, automated process, ... at some point in time?

[2022-02-25 16:47] schwesig commented on #142
[code]

[2022-02-25 16:58] schwesig commented on #141
[code]

[2022-02-25 17:06] hpdempsey commented on #142
Current volunteers for WG Website:   Marcel, Karsten, Stephanie, Bryan  (durandom, quaid, stefwrite, bryanmontalvan).  Will update if we get more after first meeting.

[2022-03-02 17:11] schwesig commented on #142
/assign @quaid
/assign @hpdempsey

[2022-03-02 17:12] schwesig commented on #141
/assign @quaid

[2022-03-02 17:12] schwesig commented on #136
Quick update.  I had to cancel the March 10 Collab Core Team call.  The next two meetings where we could discuss this are

March 17 @ 1:30 PM EST
March 24 @ 3PM EST

[2022-03-07 04:08] sesheta commented on #51
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-07 04:08] sesheta commented on #79
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-07 07:08] sesheta commented on #103
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-09 10:05] schwesig commented on #136
/area community
/kind marketing

[2022-03-11 08:26] sesheta commented on #28
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-11 20:33] quaid opened #148 "Create/update/maintain a "Undergraduate Student" user persona"

[2022-03-13 03:56] #11 closed

[2022-03-13 03:56] #68 closed

[2022-03-13 03:57] #94 closed

[2022-03-14 07:09] sesheta commented on #77
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-14 07:09] sesheta commented on #108
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-14 16:00] quaid opened #150 "Open and release user personas work"
Review and release under project Open Source license:

- Matrix of user personas developed internally by Red Hat
- Covers all of the intended personas the project intends to focus on, now and in the future.

Note to reviewers @hpdempsey @bryanmontalvan @ghaff @jasonbrooks: when you feel the draft content is ready to publish externally, put a comment in this issue. We need 100% of reviewers with ei

[2022-03-14 16:03] quaid commented on #150
I went over the spreadsheet source material, and aside from one comment about a term uses, I think it's fine to release as-is.

[2022-03-14 19:01] bryanmontalvan commented on #150
@quaid Sounds great!

[2022-03-14 22:38] hpdempsey commented on #150
+1 as is

[2022-03-15 00:24] jasonbrooks commented on #150
LGTM, I did make one comment in the ss

[2022-03-15 15:07] bryanmontalvan commented on #150
+1

[2022-03-15 19:07] quaid commented on #92
Can you make an issue for each of those at operate-first/community-handhook/ ? There is a template for Doc Needed.

We had the kickoff planning Contrib_X Docs WG this morning and agreed to use the project board for the Handbook.

[2022-03-21 17:27] schwesig opened #157 "[op1st][WG Website] schedule these meetings in the public calendar"
https://operatefirst.slack.com/archives/C036JDXAH0S/p1647878726981629?thread_ts=1647878688.713899&cid=C036JDXAH0S

[2022-03-21 17:28] schwesig commented on #157
/assign @quaid

[2022-03-22 00:33] quaid commented on #157
OK, I have made a repeated calendar entry and invited @schwesig @hpdempsey @stefwrite @bryanmontalvan . If I've missed anyone, let me know. Folks can also pick up the event from the calendar entry itself.

Calendar ID:  operate.first.community@gmail.com
https://calendar.google.com/calendar/embed?src=operate.first.community%40gmail.com&ctz=America%2FLos_Angeles
https://calendar.google.com/calendar/

[2022-03-22 00:33] #157 closed

[2022-03-22 17:27] quaid commented on #40
Action: Website Updates WG to have discussion about menu changes here
@schwesig @bryanmontalvan @stefwrite @quaid

[2022-03-22 17:29] quaid commented on #40
#103 is relevant and somewhat redundant

[2022-03-24 00:10] schwesig commented on #40
/assign @schwesig

[2022-03-24 14:44] jeremyeder commented on #134
I am curious if others would be interested in adding blog support to the op1st website?  We are thinking of adding some story-telling content from Red Hat SRE teams and are thinking it'd be great to host on the op1st website if it were possible.

[2022-03-24 17:16] quaid commented on #121
Looks like this is resolved, open a new one if more is needed.

[2022-03-24 17:16] #134 closed

[2022-03-24 17:17] #131 closed

[2022-03-24 17:18] quaid commented on #136
@hpdempsey Can you let us know what the updated schedule is? Thanks

[2022-03-24 17:23] quaid commented on #83
@sallyom are you still interested in working on this?

[2022-03-24 17:34] quaid commented on #71
We should have a group responsible for the SRE practice materials, which I think is a SIG? Who would be interested in forming that?

[2022-03-24 18:04] schwesig commented on #24
Who can help, what best practice of a blog is. I am speaking in technical terms.
I would like to create a Red Hat and Operate First "respected" approach.

[2022-03-25 00:58] quaid commented on #134
Putting this note here that conversation on this topic is continuing at #24.

[2022-03-25 06:22] quaid commented on #24
Can you clarify what scope is covered by "technical"?

IME, the elements needed for a successful blog are:

1. A publication tool
2. A well-documented editorial workflow process
3. A formatting style guide
4. A language style guide
5. A way to schedule multiple similar/identical social media posts to specific outlets
6. An editorial calendar
7. Editors
8. Writers

For the publication tool, good fe

[2022-03-25 08:41] TomasTomecek opened #165 "Open Source services release checklist"
Context: we'd like to open an internal discussion here to the public.

This issue is meant track a next step for [Open Source Services](https://www.operate-first.cloud/community/open-source-services.html). We now have requirements but no guide or a checklist how to achieve such a thing - open a service up to the public.

There are multiple angles for such a document, so I'd love to start it drafti

[2022-03-25 13:00] schwesig commented on #24
@quaid thanks for that detailed summary
technical: state of the art coded and published; secure, best open source, using our own methods (github process to publish), ...

[2022-03-25 13:32] mscherer commented on #24
I do not have much to show, but I already wrote a few s2i image to take a hugo/zola repo and build deploy on Openshift. So that's as GitOps as possible, and I was planning on even get our future intern write a operator for that (so people can directly get the website repo as a parameter to the operator and everything is automatically built and updated)

[2022-03-29 14:56] durandom commented on #24
I can work on the technical bits. The website is powered by [Gatsby ](https://www.gatsbyjs.com/) and can already post markdown with frontmatter.

@quaid can you work on a MVP for blog support? The list above looks like a full-fledged feature dump :)

[2022-03-30 12:21] sallyom commented on #83
yes, I am! The goal has shifted to installing Jaeger  + KSpan rather than enabling OTel in Kube/Etcd/CRIO  - due to the fact that these will not be exposed features in OpenShift in the current release.
See here: https://github.com/operate-first/support/issues/491#issuecomment-1083069526  for current work

[2022-04-03 07:11] sesheta commented on #104
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-04 16:18] quaid opened #172 "Clean-up current WG layouts"
in the `community` repo:

- WG folders should be within the SIG sponsoring them
- all WG folders should have a README
- all WGs need an entry in `_sigs.yaml`
- empty folders in the wrong location need to be trimmed

[2022-04-05 13:28] schwesig commented on #104
/remove-lifecycle stale
i thought we already decided on that?
@billburnseh @quaid @tumido @goern ...

[2022-04-05 16:41] quaid opened #173 "YouTube permissions for multiple people to upload"
For meeting notes, etc.

[2022-04-05 16:48] aakankshaduggal commented on #173
Hey @quaid, could you please let us know the email associated for the people who'd want to upload on youtube.

[2022-04-05 20:54] quaid commented on #173
Thanks, that would be a great solution to get us going today. We also need to know the process that one of us would follow to get posted live.

But we can also look from the beginning at how this can scale with our GItOps processes, e.g. what if we started with a YAML file with GitHub handles for each of the people who need to upload to YT? Even if the YAML isn't driving anything yet, we get the d

[2022-04-07 15:12] aakankshaduggal commented on #173
@quaid
We will have to grant access to your existing Google account on youtube to be able to post and interact with the operate first youtube channel. Yes, a YAML or a document that stores every authorized user's **email** address because we probably need that to link to the youtube account instead of a Github handle.

cc- @oindrillac please correct me if I am wrong. Is this the right set of actio

[2022-04-10 11:07] sesheta commented on #28
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-10 11:07] #28 closed

[2022-04-10 11:07] sesheta commented on #28
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/28#issuecomment-1094247193):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-04-11 21:07] #58 closed

[2022-04-11 21:07] #62 closed

[2022-04-11 21:07] #63 closed

[2022-04-11 21:07] #148 closed

[2022-04-11 21:14] schwesig commented on #24
@durandom
My "first MVP" idea:

1. A publication tool
2. ~~A well-documented editorial~~ workflow process
3. ~~A formatting style guide~~
4. ~~A language style guide~~  --> a basic style guide
5. A way to schedule multiple similar/identical social media posts to specific outlets
6. An editorial calendar
7. ~~Editors~~
8. Writers

For the publication tool, good features include:

- ~~Self-service s

[2022-04-11 22:37] quaid commented on #97
Added in #164

[2022-04-11 22:37] #97 closed

[2022-04-11 22:56] quaid commented on #150
After the merge of #164, these are the user persona files to be created and then to migrate data into:

- Data Scientist
- Data Engineer
- Open Source Developer
- Academic Researcher
- Academic Administration

[2022-04-12 15:29] schwesig commented on #24
+1 starter-blog theme
+1 two pages as mentioned

[2022-04-13 08:29] sesheta commented on #77
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-13 08:29] sesheta commented on #108
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-13 19:12] sesheta commented on #96
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-13 23:45] quaid opened #174 "Proposal: Form SIG Data Science"
This proposal is to evolve the Data Science Meetup community into being a special interest group with oversight for data science in Op1st across the board.

The mode would be to form as a SIG with a clear governance (chairs, meetings, etc.) for people interested in data science overall. Then the meetups continue as a subproject of the SIG, subprojects being the action points of SIGs where anyone c

[2022-04-14 00:13] quaid opened #175 "Proposal: Form SIG Telemetry"
We accidentally skipped process for creating this SIG, so I'm creating this issue to do that process. Since it turns out we don't have a process, this issue also starts solving what needs to be in an issue template for creating a new SIG.

No big deal this happened because it was something in process from before the new governance, and I reckon it just slipped out minds that a discussion and proce

[2022-04-14 00:20] quaid commented on #175
Noting that @RS1999ent isn't yet a member of the Op1st project on GitHub. Documentation for how to do that is here: https://github.com/operate-first/common/blob/main/docs/add_gh_member_and_access.md#become-a-github-member

[2022-04-14 12:33] MichaelClifford commented on #174
Hey @quaid, a DS SIG under OPF makes sense to me. And the OSG folks can help to get it started based on our current DS SIG governance.

That said, I was wondering if we wanted to keep the existing meet up so DS focused when we move it over to new governance?  There are a lot of Operate First topics that we could discuss in this venue beyond our data science efforts (and I imagine we would not (at

[2022-04-15 02:51] quaid commented on #71
@mmazur @jeremyeder I think we need an opinionated SRE SIG for Op1st to have oversight on:

- What belongs in the `operate-first/SRE` repo
- What are/are-not practices we recommend/don't-recommend
- How do we engage with people interested in the Open Sourcing of SRE within Op1st?
  - We have increasing interest incoming for this topic
- Starting the subprojects and working groups folks want to wor

[2022-04-18 19:38] jeremyeder commented on #24
Checking in?

[2022-04-19 19:12] HumairAK opened #180 "Operate First Personas + Info graphic"
The websites WG meeting today discussed a need for an info graphic that details the different Operate First Personas and how they complement/interact with each other. But attendees were also not clear on what these different personas are that Operate First encompasses. So let's discuss the different personas here, then these will be converted to an info graphic by @stefwrite .

Please provide the

[2022-04-19 19:13] HumairAK commented on #180
I'll start:

---

**Role**:
Operate First Cloud SRE

**Goal**:
* Operate and Manage clusters on the Operate First Cloud
* Provision new clusters
* Onboard users, teams to Operate First Cloud
* Maintain cluster stability, security, and health
* Respond to user issues

**Pain Points**:
* Cloud operations are too closed and opaque. There is no standard for operating platforms like OCP and K8S in an O

[2022-04-19 19:14] HumairAK commented on #180
Please add any personas you feel should be here. If you feel the template should add more/less feel free to suggest alternatives.

[2022-04-19 22:13] sesheta commented on #123
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-20 01:18] quaid commented on #24
I have this PR in review to create the repo:  https://github.com/operate-first/common/pull/95

Once it's created, I have the initial draft of the "idea to published"-process, sketches of a technical style markup guide, and a usable writing style guide. These will all form the core of the how-to for writers, reviewers, and editors.

I know @durandom is working on the tooling backend, which should a

[2022-04-20 19:28] HumairAK commented on #180
@oindrillac @MichaelClifford could you provide some personas that you expect from data science perspective that you envision the website should target/keep in mind

similarly @quaid / @durandom  can you provide personas from community perspective?

@hpdempsey can you provide an intern/coop persona(s) ?

[2022-04-21 00:37] bryanmontalvan commented on #180
I wanted to post the Personas I added to the community repo via markdown files https://github.com/operate-first/community/pull/164

All the personas created can be found in https://github.com/operate-first/community/tree/main/users

Though following your format Humair

**Role:**
Undergraduate Student

**Goals:**
- Learn new skill (whether it be for their resume or self-knowledge)
- To add new expe

[2022-04-21 15:54] durandom commented on #24
Habemus Blog

https://www.operate-first.cloud/blog/
https://github.com/operate-first/blog

[2022-04-22 19:40] quaid commented on #180
I brought up some existing content, let me share with several caveats:

- I'm immersed in the way personas and user stories are used in Agile processes, that is not the intention of this work.
- These personas are from a marketing perspective, which is why they are useful for website design and content decisions.
- The lead on creating these was @ghaff and he conducted interviews with senior peopl

[2022-04-24 19:13] sesheta commented on #64
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-24 22:08] quaid commented on #24
@jeremyeder Now we need to have an editorial meeting :) Who do you want involved?

I'll start the PRs with my docs and processes into this new repo.

[2022-04-25 15:15] HumairAK opened #181 "Add WG Service Catalog & Interaction Automation to community repo"
The project board for this WG is here: https://github.com/orgs/operate-first/projects/56/views/1

Follow format for other WGs here: https://github.com/operate-first/community

[2022-04-25 17:27] stefwrite commented on #180
Given that this is a long list, is there a way to group these personas into groups based on the ways they'll be using Operate First (and/or accessing resources at the Op1st website)?

[2022-04-25 22:13] sesheta commented on #111
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 22:13] sesheta commented on #22
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 22:13] sesheta commented on #81
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 22:13] sesheta commented on #84
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 22:13] sesheta commented on #88
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 22:13] sesheta commented on #87
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 22:13] sesheta commented on #90
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-26 12:32] MichaelClifford commented on #81
/remove-lifecycle stale

Did an Operate First Org Admin ever install [ReviewNB](https://www.reviewnb.com/) in the Operate First Org?

[2022-04-26 12:38] MichaelClifford commented on #22
/remove-lifecycle stale

@hemajv can this issue be closed? Or does it need more work from the O2KR2 two team?

@schwesig

[2022-04-27 14:27] #22 closed

[2022-04-27 15:11] aakankshaduggal commented on #174
@quaid - I agree with this as well. I think it's definitely a good step to have a DS SIG under operate first.

And adding to @MichaelClifford's suggestion for expanding the meetup from "OPF DS Community meetup" to simply the "OPF Community meetup", I believe should be a good idea since we get a wider audience and this could help accelerate the process of building a community around the Operate Fir

[2022-05-01 22:14] sesheta commented on #129
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-02 10:26] tumido commented on #181
Pr pending

[2022-05-02 13:48] #181 closed

[2022-05-03 23:06] quaid opened #186 "Work with $Project_TBD to highlight presence and benefits on a Project Page."
Reference to https://github.com/operate-first/operate-first.github.io/issues/327

[2022-05-03 23:25] quaid opened #187 "Work with $Project_BAR to highlight presence and benefits on a Community Cloud User Story Page."

[2022-05-03 23:25] schwesig opened #188 "add invite link to the readme.html"
tinyurl.com/Op1st-SIG-Community-cal into readme by editing the sigs.yaml file

triggered by an email conversation
[code]
`... is interested in attending the SIG community, https://www.operate-first.cloud/community/sig-community/README.html. `

[2022-05-03 23:31] schwesig commented on #188
idea:

- Join [Op1st] SIG Community bi-weekly call Tomorrow, Thu 1pm ET
- Add topics to the agenda https://hackmd.io/RmFqiyCASaKJyWdINuo8QQ
- Add to your calendar tinyurl.com/Op1st-SIG-Community-cal
- Check Project Board https://github.com/orgs/operate-first/projects/16

[2022-05-03 23:31] quaid opened #189 "Q2 Goals for @quaid"

[2022-05-03 23:40] schwesig commented on #188
archive_url:

  meetings:
  - description: ...
    archive_url: https://hackmd.io/RmFqiyCASaKJyWdINuo8QQ

[2022-05-03 23:43] quaid opened #190 "Position One Pager: "Operate First Community-Centric Ecosystem Strategy""

[2022-05-03 23:43] quaid opened #191 "Position One Pager: "What does Operate First success look like?""

[2022-05-03 23:51] schwesig commented on #188
looking for invite tag

[2022-05-04 14:24] schwesig commented on #141
established
close

[2022-05-05 03:35] quaid commented on #142
Hmm ...

It seems like this is something we could automate to pull out of `github://operate-first/common/blob/main/github-config.yaml`?

Then we are maintaining it all in one place.

We definitely want to have this in a friendly appearance in the User & Contributor Handbook for finding who is working on what in the projec.

[2022-05-05 03:36] quaid commented on #88
/remove lifecycle stale

[2022-05-05 03:43] quaid commented on #64
/remove-lifecycle stale

[2022-05-05 03:48] quaid commented on #86
/remove-lifecycle stale

[2022-05-05 13:18] billburnseh commented on #88
Nit, first sentence, replace role with roll...

[2022-05-05 17:40] MichaelClifford commented on #174
I think the next steps for moving this item forward are the following:

1) Find an additional member of the community outside of the OSG group to co-chair the DS SIG

2) Draft a proposal to the OPF Community SIG to take over the operate first data science community meet up.

[2022-05-05 17:40] MichaelClifford commented on #174
@quaid @aakankshaduggal Let me know if the above sounds good :)

[2022-05-05 17:53] aakankshaduggal commented on #174
That sounds good @MichaelClifford, lmk if I can help with the proposal.

[2022-05-06 14:10] schwesig commented on #142
We for sure should!
This was just the start to at least have a basic idea.

Friendly appearance: automatically filled by the .yaml file?

[2022-05-06 14:49] MichaelClifford opened #192 "Proposal: Move governance of OSG run Operate First Data Science Meet Up Subproject to OPF Community SIG"
I propose that the existing Operate First Data Science Community Meet Up ([repo](https://github.com/aicoe-aiops/operate-first-data-science-community/tree/main/docs)) that is currently run as a subproject under the Open Services Group's [Data Science SIG](https://github.com/open-services-group/community/tree/main/sig-data-science) be transferred completely as a subproject under Operate First Commun

[2022-05-06 17:27] quaid commented on #24
We decided to use the first blog posts being worked as a live demonstration and test of the editorial process.

https://github.com/operate-first/blog/pull/6
https://github.com/operate-first/blog/pull/7

We therefore have a project blog and this long-standing work item is complete!

[2022-05-06 17:27] #24 closed

[2022-05-10 07:25] durandom commented on #192
👍  did we talk to the ODH community if there's interest in co-chairing this? Maybe @adrezni or @erikerlandson ?

[2022-05-10 17:39] quaid commented on #104
This is an aside from the topic, but I think we should be careful when presuming activity on Issues and PRs is a sign of interest. Most people are not familiar with GitHub, git-based workflow, and how they are used to track discussions of ideas.

Agree, this is a branding decision and not intended to affect domain names, classnames, quay.io, org names, etc.

(But we should grab a few domain names

[2022-05-13 11:12] sesheta commented on #77
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-13 11:12] sesheta commented on #108
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-13 11:12] sesheta commented on #77
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/77#issuecomment-1125942041):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-05-13 11:12] sesheta commented on #108
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/108#issuecomment-1125942046):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-05-13 20:34] sesheta commented on #96
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-19 23:35] sesheta commented on #123
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-24 15:34] MichaelClifford commented on #174
@quaid @aakankshaduggal I submitted a draft charter for a DS SIG here #193

[2022-05-24 16:51] quaid commented on #103
Overcome by new design etc., this has served it's purpose.

[2022-05-24 17:24] quaid commented on #123
One day I'll get this correct on the first try ...

/remove-lifecycle rotten

[2022-05-26 20:55] sesheta commented on #111
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-27 05:54] sesheta commented on #84
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-27 05:54] sesheta commented on #87
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-27 05:54] sesheta commented on #90
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-31 17:06] quaid opened #195 "Establish Jupyter Notebook style guide-lite for SIG, WG, and subproject areas, including a how-to"
SIG list: https://github.com/operate-first/community/blob/main/sig-list.md

[2022-05-31 17:41] quaid opened #196 "Conduct working group exit SOP"
Format TBD, should include:

- List of criteria that were completed and signified the end of the WG
- Any documentation of what was done
- Is any hand-off needed? What and to whom?
- Link to project board with 100% completed or closed tasks

[2022-05-31 17:45] quaid opened #197 "Polish round on all the new pages"
The new five menu-item pages and the getting started page can use a few more read-throughs and suggestions for changes from various readers.

[2022-06-01 00:43] sesheta commented on #129
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-02 18:16] quaid commented on #192
SIG Community met today and agreed to take over the management and production of meetups for Operate First from the group that has been doing this work. We will continue to collaborate with the (future) Data Science SIG on DS content.

Our first actions are:

1. Form a working group to figure out how we want to continue and support this effort
2. Go to the meetup and ask members if they are open t

[2022-06-05 14:58] quaid opened #199 "Plan launch events for KubeCon Detroit 2022"
Details to be decided, this is the core organizing issue with other issues spawned for work, as needed.

[2022-06-05 14:59] quaid commented on #199
/area community
/kind marketing
/assign @quaid

[2022-06-09 12:57] schwesig commented on #192
/area community
/area contributor
/kind data-scientist
/kind governance

[2022-06-09 13:29] schwesig commented on #142
teams are set and organized. this boot strap issue is /closed.
Automation can be in focus again.

[2022-06-09 13:29] #142 closed

[2022-06-09 22:01] sesheta commented on #51
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #55
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #54
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #56
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #57
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #59
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #60
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-09 22:01] sesheta commented on #61
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #66
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #65
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #67
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #74
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #79
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #75
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #98
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #99
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 01:01] sesheta commented on #10
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #8
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #13
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #12
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #14
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #16
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #15
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #19
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #21
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 04:01] sesheta commented on #20
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #23
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #25
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #27
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #29
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #37
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #35
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #49
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #41
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #42
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 07:01] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 10:01] sesheta commented on #3
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 10:01] sesheta commented on #4
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 10:01] sesheta commented on #6
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-11 04:01] sesheta commented on #18
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-12 21:40] sesheta commented on #96
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-12 21:40] #96 closed

[2022-06-12 21:40] sesheta commented on #96
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/96#issuecomment-1153300160):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-13 22:01] sesheta commented on #92
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-13 22:07] schwesig commented on #92
/remove-lifecycle stale

[2022-06-14 16:38] quaid opened #200 "Change all instances of "Op1st" to "Operate First""

[2022-06-16 17:25] aakankshaduggal opened #201 "Add the Operate First Data Science Community Meetup format related docs"
As a part of the DS Meetup Transition Working Group, we would like to start by adding the meetup format to this repo.

[2022-06-17 18:40] aakankshaduggal opened #202 "Moving Operate First DS Community repo to Operate First Org"
As a part of moving the Operate First Data Science Community meetup from the OSG to the Operate First community SIG as discussed in https://github.com/operate-first/community/issues/192

Hence, we would like to move the https://github.com/aicoe-aiops/operate-first-data-science-community to Operate First Organization. [These](https://docs.github.com/en/repositories/creating-and-managing-repositorie

[2022-06-18 09:49] durandom commented on #202
@schwesig can you please assist here?

[2022-06-20 17:16] schwesig commented on #202
@aakankshaduggal let's have a quick call

[2022-06-20 18:50] schwesig commented on #202
- [ ] adding schwesig to aicoe-aiops admin
- [ ] adding schwesig to operate-first admin
- [ ] moving repository

[2022-06-20 19:09] schwesig commented on #202
Team access
@durandom what teams should have access?

- [ ] [admins](https://github.com/orgs/operate-first/teams/admins)
- [ ] [ai-for-cloud-ops](https://github.com/orgs/operate-first/teams/ai-for-cloud-ops)
- [ ] [Baristas](https://github.com/orgs/operate-first/teams/baristas)
- [ ] [blog](https://github.com/orgs/operate-first/teams/blog)
- [ ] [blog-editorial](https://github.com/orgs/operate-fir

[2022-06-21 16:14] schwesig commented on #202
moved the repo

[2022-06-21 16:14] #202 closed

[2022-06-21 16:25] MichaelClifford commented on #202
@aakankshaduggal @schwesig Will this move break any of the links to https://old.operate-first.cloud/data-science/operate-first-data-science-community ?

[2022-06-21 22:16] schwesig commented on #202
/kind data-scientist
/kind governance
/priority important-soon
/sig community
/triage accepted

[2022-06-22 19:02] sesheta commented on #136
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-23 10:02] sesheta commented on #165
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-23 18:04] aakankshaduggal commented on #201
Done with #202

[2022-06-23 18:04] #201 closed

[2022-06-25 15:41] quaid commented on #136
@schwesig @hpdempsey Can we look at the student coop onboarding and such to see where we can have a regularly-run section on community involvement?

The other perspective is to make sure all of the curriculum is saturated with the details and ethos of Open Collaboration.

/remove-lifecycle stale

[2022-06-25 15:44] quaid commented on #6
I think we can say that we've reworked the messaging into these sort of short forms, I don't think it serves us any longer to consider a stand-alone catalog of messages and lengths of those as we are now focusing on taking the short core messaging into improving documentation.

[2022-06-25 15:53] hpdempsey commented on #136
We can certainly do that as a regular part of onboarding for both interns and co-ops at Red Hat.  With BU's agreement, we could also offer it to students who are funded for their own student projects through the Red Hat Collaboratory awards at BU.  https://www.bu.edu/rhcollab/2022/04/14/red-hat-collaboratory-announces-2022-student-research-projects/

The curriculum effort is bigger, but we can wor

[2022-06-25 15:54] quaid commented on #40
We have our new architecture in place and can review any proposed future changes under a new PR/Issue.

Summary:

- New top level menu with a handful of pages: Purpose, Community, Blog, Docs & Training, Community Cloud
- Can add individual pages, when needed, but for now we have the desired site architecture.
- All subprojects, WGs, and SIGs maintain their sections as Jupyter Notebooks.

/close

[2022-06-25 15:54] #40 closed

[2022-06-25 15:54] sesheta commented on #40
@quaid: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/40#issuecomment-1166314705):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-06-25 21:41] sesheta commented on #111
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-25 21:41] #111 closed

[2022-06-25 21:41] sesheta commented on #111
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/111#issuecomment-1166366029):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-06-25 21:49] sesheta commented on #140
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-25 23:05] quaid opened #205 "Onboard project: Kruize project with associated managed service(s)"
Work with Kruize project members to bring their managed service online, "Hyper Parameter Optimization as a Service", around their components:

https://github.com/kruize/hpo
https://github.com/kruize/autotune

Questions to discuss:
- What are the resource usages like when the service usage is 10x? 100x?
- What is the relationship to other components, such as `kruize/kruize`?
- Is there an Operator?

[2022-06-25 23:30] oindrillac opened #206 "Requirements for promoting an Operate First Workshop at DevConf"
Our proposal to run a [workshop on Operate First ](https://devconfus2022.sched.com/event/14eSx/build-aiops-tools-on-operate-first) that showcases ODH tools has been picked at DevConf.US August 2022.

The services and requirements per participant that we plan using and showcasing are:

**(Minimum)**
-  Jupyterlab (Small-Medium sized container images)
- S3 bucket (500mb-1GB)
- Kubeflow pipelines (2-

[2022-06-26 06:41] sesheta commented on #90
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-26 06:41] sesheta commented on #84
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-26 06:41] sesheta commented on #87
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-26 06:41] sesheta commented on #84
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/84#issuecomment-1166430936):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-26 06:41] sesheta commented on #87
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/87#issuecomment-1166430938):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-26 06:41] sesheta commented on #90
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/90#issuecomment-1166430934):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-27 13:35] durandom commented on #206
@oindrillac we should have workshops on the normal clusters, although they only have a community SLA. We can work on backup plans, like quickly bringing up an environment in AWS.

You should also be able to setup your own workshop environment in SMAUG and even in AWS. If not, let's work on documentation to do that.

[2022-06-28 13:02] sesheta commented on #83
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-28 13:46] HumairAK commented on #140
/remove-lifecycle rotten

[2022-07-01 03:41] sesheta commented on #129
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-01 03:42] sesheta commented on #129
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/129#issuecomment-1171897894):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-07-06 16:03] sesheta commented on #173
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-07 16:05] HumairAK commented on #206
We should resolve the container sizes not showing up: https://github.com/operate-first/support/issues/599

[2022-07-07 16:20] HumairAK commented on #206
We can use morty, but have a minio back up in place. We can also look into using aws s3 for this, looks like we're looking at around ~30GB, not sure what the costs of that look like.

[2022-07-07 16:23] HumairAK commented on #206
We may want to consider putting an oauth proxy for the route, otherwise it will be public to all.

[2022-07-11 01:03] sesheta commented on #150
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-13 01:03] sesheta commented on #175
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-14 04:04] sesheta commented on #71
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-14 20:46] HumairAK commented on #206
Furthers: https://github.com/open-services-group/scrum/issues/3

[2022-07-17 10:20] schwesig commented on #200
/users documentation
/sig community
/sig docs
/kind handbook
/kind website
/kind documentation

[2022-07-17 10:22] schwesig commented on #197
/sig community
/kind website
/user experience

[2022-07-17 10:23] schwesig commented on #197
/kind cleanup

[2022-07-17 10:24] schwesig commented on #200
/kind cleanup

[2022-07-17 10:26] schwesig commented on #196
/kind governance
/users documentation
/sig community
/sig docs
/kind handbook
/kind documentation

[2022-07-17 10:28] schwesig commented on #195
/kind governance
/users documentation
/sig community
/sig docs
/kind handbook
/kind documentation
/kind feature
/kind experience

[2022-07-17 10:30] schwesig commented on #191
/sig community
/kind feature
/area monitoring
/kind metrics
/kind marketing

[2022-07-17 10:31] schwesig commented on #190
/sig community
/kind governance
/kind documentation
/kind marketing

[2022-07-17 10:33] schwesig commented on #189
/area contributor
/kind documentation

[2022-07-17 10:34] schwesig commented on #187
/kind user-story
/kind marketing
/sig community

[2022-07-17 10:35] schwesig commented on #186
/kind user-story
/kind marketing
/sig community

[2022-07-17 10:37] schwesig commented on #165
/kind documentation
/kind experience
/kind handbook
/kind governance
/kind onboarding
/kind question
/sig community
/sig operations

[2022-07-17 10:39] schwesig commented on #140
/kind bug
/kind cleanup
/kind user-story

[2022-07-17 10:39] schwesig commented on #140
/sig operations

[2022-07-17 10:42] schwesig commented on #92
/close
will be worked on on in the created user stories above

how to create calendar entries
https://github.com/operate-first/community-handbook/issues/32

publish the complete calendar, e.g. just via a link on the website?
https://github.com/operate-first/community-handbook/issues/33

best practice on how to add / create meetings for the invites (afaik, we should use RH meetings, because recordi

[2022-07-17 10:42] sesheta commented on #92
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/92#issuecomment-1186476623):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2022-07-17 10:43] schwesig commented on #92
/kind cleanup
/users documentation
/sig community
/sig docs
/kind handbook
/kind website
/kind documentation

[2022-07-17 10:47] schwesig commented on #81
/kind feature
/sig operations
/sig devops
/kind feature

/cc @HumairAK
/cc @harshad16

[2022-07-17 10:51] schwesig commented on #206
/kind documentation
/kind user-story

[2022-07-17 10:52] schwesig commented on #205
/sig community
/sig operations
/kind governance

[2022-07-17 10:53] schwesig commented on #199
/sig community

[2022-07-17 10:55] schwesig commented on #180
/area user
/kind documentation
/kind handbook
/kind experience
/kind user-story

[2022-07-17 10:56] schwesig commented on #201
/users documentation
/sig community
/sig docs
/kind handbook
/kind website
/kind documentation

[2022-07-17 10:58] schwesig commented on #134
/users documentation
/sig community
/sig docs
/kind handbook
/kind website
/kind documentation
/kind experience
/kind user-story
/user experience

[2022-07-17 10:59] schwesig commented on #121
/sig operations
/kind governance

[2022-07-17 11:00] schwesig commented on #112
/kind documentation
/kind handbook
/area contributor

[2022-07-17 11:01] schwesig commented on #101
/sig community
/kind marketing

[2022-07-17 11:03] schwesig commented on #97
/kind academic-administrator
/kind academic-researcher
/user experience
/kind user-story
/kind documentation

[2022-07-17 11:03] schwesig commented on #97
/kind experience

[2022-07-17 11:04] schwesig commented on #95
/sig community
/kind marketing

[2022-07-17 11:05] schwesig commented on #39
/kind marketing
/sig community
/kind feature
/area monitoring
/kind metrics

[2022-07-17 11:05] schwesig commented on #38
/kind website
/kind documentation

[2022-07-17 11:06] schwesig commented on #33
/kind marketing
/sig community

[2022-07-17 11:07] schwesig commented on #32
/kind documentation
/kind task

[2022-07-17 11:08] schwesig commented on #31
/kind website
/kind bug

[2022-07-17 11:08] schwesig commented on #31
/kind marketing

[2022-07-17 11:09] schwesig commented on #30
/sig operations
/area monitoring

[2022-07-17 11:10] schwesig commented on #2
/sig community
/sig operations
/kind documentation
/kind feature

[2022-07-17 19:44] harshad16 commented on #81
[Opf Admin](https://github.com/operate-first/common/blob/main/github-config.yaml#L3-L9) has to install the github app https://github.com/marketplace/review-notebook-app onto the repo.

[2022-07-21 16:48] schwesig commented on #49
using a nice picture like:
a store front window with a sign "help wanted".

[2022-07-21 17:19] schwesig commented on #189
/close
creating a new one in Q3 if needed

[2022-07-21 17:19] #189 closed

[2022-07-21 17:19] sesheta commented on #189
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/189#issuecomment-1191744477):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-21 17:19] quaid commented on #87
/help wanted

[2022-08-02 22:05] sesheta commented on #188
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-03 04:05] sesheta commented on #64
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-03 04:05] sesheta commented on #86
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-03 16:05] sesheta commented on #88
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-04 17:05] oindrillac commented on #206
Workshop delivered at Scale19x

[2022-08-04 17:05] #206 closed

[2022-08-08 14:51] schwesig commented on #188
unfortunately the tiynurl link is not working anymore

[2022-08-08 22:06] sesheta commented on #104
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-12 08:32] bexelbie opened #215 "Dead Link: https://github.com/operate-first/community/blob/main/open-source-services.md"
https://github.com/operate-first/community/blob/main/open-source-services.md is not being rendered to the site resulting in dead links.

[2022-08-18 19:48] Gregory-Pereira commented on #64
@quaid, can you share what you would like next steps to be if this is still ongoing? I am also pinging @stefwalter and @emmanuelbernard to hopefully spark some discussion. Also just to clarify, you say a "managed Kafka service" but that users can make changes themselves to the codebase. Does this mean that the users will be responsible for managing / maintaing the deployment, or did you see that a

[2022-08-18 19:52] Gregory-Pereira commented on #86
I see that #127 got merged, does that mean this thread is no longer required and the discussion can take place via pull-request threads against the current state of `operate-first/community` or does this still need to remain open?
/remove-lifecycle stale

[2022-08-18 19:55] Gregory-Pereira commented on #88
@quaid, anything else to add to this? Should this discussion remain open?
/remove-lifecycle stale

[2022-08-18 20:42] Gregory-Pereira commented on #104
Not sure my input is worth much but I do like the idea. It helps to separate the concept and implementation through the difference in naming convention. In anycase I am wondering what the status of this is @quaid, and if this is still progressing what are the next steps. If not let me know so I can close this issue.
/remove-lifecycle stale

[2022-08-19 19:55] quaid commented on #104
So this idea ran into a wall of "no thanks" on the mailing list, I got a little discouraged, and didn't get back to it.

I think people want to keep the full "Operate First" name, that's OK, but I also think we need a consistent way to abbreviate so we are driving toward clarity. I think the closing for this issue would be for me to go back to the mailing list and propose alternatively that we pic

[2022-08-19 20:22] quaid commented on #64
@Gregory-Pereira I believe the specific scope ended up changing to a different service, that is, there is internal Red Hat work going on to essentially do the part of Opening a service so it can be brought to the community cloud.

@stefwalter Do you agree it makes sense to have this represent the current work? And what constitutes "bringing a PoC"? I.e., is it a service that the current community

[2022-08-19 20:32] quaid commented on #86
@Gregory-Pereira we're getting there, but the definition of an Open Source service is only part of the maturity requirements. We need to keep this open and continue to define what else is needed in the model.

We may want to stop having the bot check for issue age in the `community` repo, if we can. The issues hanging around for a while are doing so because they are long-term goals.

[2022-08-19 20:33] quaid commented on #88
Yes thanks @Gregory-Pereira this is an ongoing effort

[2022-08-26 14:22] knikolla commented on #175
Me and @zaoxing are interested in rebooting this SIG, since it has been inactive for a while. @quaid can you point me to where the new governance processes for proposing SIGs are described?

[2022-08-31 15:41] stefwalter commented on #215
This link is now broken: https://www.operate-first.cloud/community/open-source-services.html

It's linked everywhere on other websites, how can we get it back up?

[2022-08-31 15:42] stefwalter commented on #215
@durandom How can I help get this link back up?

[2022-08-31 16:21] durandom commented on #215
Dang. Somehow the `gh-pages` got disabled for this repo. I enabled it and we're back online.
Sorry for that.

[2022-08-31 16:21] #215 closed

[2022-08-31 16:22] durandom commented on #215
and thanks @bexelbie for reporting that.

@schwesig @quaid we definitely need to get a better handle on watching all the issues in all those repos :)

[2022-08-31 16:23] stefwalter commented on #215
Thanks. It's back up.

[2022-09-01 14:37] schwesig commented on #215
yes, we need to get better :-( thanks for linking and the feedback

[2022-09-01 14:43] schwesig commented on #215
/kind website
/sig community

[2022-09-01 14:44] schwesig commented on #215
/kind bug

[2022-09-24 01:18] sesheta commented on #35
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #37
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #41
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #42
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #51
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #54
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #55
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 01:18] sesheta commented on #56
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #57
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #59
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #60
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #61
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #65
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #66
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #67
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #74
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #75
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 04:18] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #79
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #98
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #3
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #4
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #6
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #8
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #10
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #12
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #13
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 07:18] sesheta commented on #14
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #15
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #16
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #17
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #18
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #19
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #20
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #21
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #23
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #25
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 10:18] sesheta commented on #27
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-24 13:18] sesheta commented on #29
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-07 12:00] quaid opened #226 "KubeCon / CloudNative Con + side events EU 2023 CFP responses"
https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/program/cfp/

Co-located events should also be identified and planned for, especially as the CFP processes are often separate. Examples include:

- GitOpsCon
- ArgoCon
- OpenShift Commons
- Continuous Delivery Summit
- Kubernetes AI Day
- Kubernetes on Edge
- PrometheusDay
- SigStoreCon

[2022-10-07 12:01] quaid commented on #98
Tracking KubeCon / CloudNative Con + side events EU 2023 CFP responses #226

[2022-10-07 12:14] schwesig opened #227 "Operate First Meetup after show: S02E01"
- [ ] update [meetup page](https://www.operate-first.cloud/meetup/)
  - [ ] enter new meeting date and content (if known yet)
- [ ] upload recorded video [youtube channel](https://www.youtube.com/playlist?list=PL8VBRDTElCWqC5WcZUUNJxGn9WslK6llb)
- [ ] upload presentation as pdf into [repo](https://github.com/aicoe-aiops/operate-first-data-science-community/blob/main/docs/content/)
- [ ] update [ag

[2022-10-07 15:32] #227 closed

[2022-10-11 09:30] ghaff commented on #180
We started to do that initially, e.g. with developers/QE.

Probably requires some thought but I'd probably bucket together the
developer roles, the academic roles, maybe the data roles (though they are
somewhat distinct, maybe sysadmin with SRE...

On Mon, Apr 25, 2022 at 1:27 PM Stephanie E. Watson <
***@***.***> wrote:

[2022-10-13 10:36] schwesig commented on #200
/close
this was solved in one of the last two cleanup PRs in this repo

[2022-10-13 10:36] sesheta commented on #200
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/community/issues/200#issuecomment-1277399706):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test